  .dx-switch-container {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    margin: 0 -6px 0 0;
    padding: 0 2px;
    height: 240px;
    background: #fff;
    border: none;
  }

  .dx-datagrid-rowsview .dx-row-focused.dx-data-row .dx-command-edit .dx-link,
  .dx-datagrid-rowsview .dx-row-focused.dx-data-row>td:not(.dx-focused):not(.dx-cell-modified):not(.dx-datagrid-invalid) .dx-switch-container {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    margin: 0 -6px 0 0;
    padding: 0 2px;
    height: 240px;
    border: none;
    background: #cdeefd
  }
  .dx-datagrid-addrow-button::before {
    content: '추가';
    font-size: 20px;
    font-weight: bold;
    color: black;
  }
  .dx-toolbar-button.dx-toolbar-text-auto-hide .dx-button-has-icon.dx-button-has-text{
    height: 23px;
    border-radius: 0%;
  }
  .dx-list-select-all {
    background-color: rgb(219, 216, 216);
  }
  .icon-button .dx-icon {
    color: red;
  }
  .arrowIcon {
    width: 40px;
    pointer-events: none;
  }