.TimeExpenseInsertSttus .dx-datagrid-text-content {
    font-size: 13px;
}

.TimeExpenseInsertSttus .wrap_table .dx-checkbox-text {
    font-size: 13px;
}

.TimeExpenseInsertSttus .dx-datagrid .dx-row > td {
    font-size: 13px;
    padding: 10px 0px 10px 0px;
}

.TimeExpenseInsertSttus .dx-datagrid .dx-row > td > .dx-button-has-text .dx-button-content {
    font-size: 11px;
    padding: 0px;
}

.TimeExpenseInsertSttus .dx-datagrid .dx-row > td > .dx-button-has-text {
    height: 20px;
    min-width: 50px;
}

.cancel-popup-content {
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
}

.cancel-popup-table {
    width: 100%;
    margin: auto;
}

.cancel-popup-button {
    float: right;
    margin-top: 20px;
}

.cancel-popup-button-close {
    margin-left: 10px;
    color: white;
    background-color: red;
}