.dx-datagrid-text-content {
    font-size: 12px;
}

.dx-checkbox-text {
    font-size: 12px;
}

.dx-datagrid .dx-row > td {
    font-size: 10px;
    padding: 10px 0px 10px 0px;
}

.dx-datagrid .dx-row > td > .dx-button-has-text .dx-button-content {
    font-size: 10px;
    padding: 0px;
}

.dx-datagrid .dx-row > td > .dx-button-has-text {
    min-width: 50px;
}
