/* styles.css */
.login {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  background-image: url("../img/login_bg.jpg"); /* 배경 이미지 경로 설정 */
  background-size: cover; /* 전체 배경을 채우도록 설정 */
  background-attachment: fixed; /* 배경 이미지를 고정 */
  overflow: auto; /* 내용이 넘칠 경우 스크롤 생성 */
}
.login-form {
  /*display: flexbox;*/
  width: 500px;
  margin: 10px auto;
  align-self: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  transform: translateY(-20%);
  z-index: 1;
}
.slogan {
  width: 100%;
  height: 150px; /* Slogan 이미지의 높이 조절 */
  margin-top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-header {
  margin-left: 5%;
  margin-top: 2%;
}
.title {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}

.input-container {
  margin-bottom: 15px;
}

.remember-me-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.button-container {
  text-align: center;
}

.login-addInfo {
  text-align: center;
  /*font-size: "20px";*/
  color: white;
}

.project-regist-content {
  display: flex;
  justify-content: space-between;
}

.popup-content {
  margin-top: 20px;
  height: 100%;
  width: 100%;
}

.project-regist-content-inner {
  width: 50%;
}

.project-change-content-inner-left {
  width: 30%;
}

.project-change-content-inner-right {
  width: 70%;
}

.asterisk::before { color: red; content: "*"; font-size: inherit; margin-left: 0.4rem; }

/* NoticeInput.css */
.notice-table {
  width: 100%;
  margin-bottom: 30px;
  border-collapse: collapse;
  border: 2px solid #ddd;
}
.notice-table th, .notice-table td {
  border: 2px solid #ddd;
  padding: 10px;
}
.input-column {
  background-color: rgb(244, 242, 242);
  text-align: center;
  font-weight: bold;
}
.checkbox-wrapper {
  display: flex;
  align-items: center;
  margin: 5px;
}
.checkbox-label {
  flex: 0 0 auto; /* 너비 자동으로 설정 */
  margin-right: 10px; /* 오른쪽 마진 추가 */
}
.checkSpace{
  margin-right: 10px;
}
.inputFormBtn{
  text-align: center;
  margin-bottom: 100px;
}


.atrz-container {
  position: relative;
}

.atrz-container,
.left-content {
  min-height: 530px;
}

.left-content {
  display: inline-block;
  width: 180px;
  padding: 0 10px 10px;
  /* background-color: rgba(191, 191, 191, 0.15); */
  /* box-shadow: -5px 0 14px -8px rgba(0, 0, 0, 0.25) inset; */
}

.right-content {
  position: absolute;
  right: 0;
  left: 220px;
  top: 0;
  height: 100%;
}

.title-aprvDetail-container {
  position: relative;
  margin-bottom: 10px;
  min-height: 220px;
}

.title-aprvDetail {
  text-align: left;
  /* font-size: 20px; */
  margin-bottom: 20px;
}

.title-aprvDetail-left {
  display: inline-block;
  width: 300px;
  min-height: 220px;
}

.title-aprvDetail-right {
  position: absolute;
  right: 0;
  left: 70%;
  top: 0;
  width: 400px;
  height: 100%;
  display: flex;
}

.table-atrzLn-wrapper {
  flex: 1;
}

.table-atrzLn {
  border: 1px solid #ddd;
  margin-left: auto;
  text-align: center;
  font-size: 14px;
}

.table-atrzLn-th {
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #f2f2f2;
}

.table-atrzLn-td {
  border: 1px solid #ddd;
  padding: 10px;
  width: 100px;
  height: 40px
}

.dx-widget.dx-button.dx-button-mode-text.dx-button-normal.dx-button-has-text.dx-button-has-icon.dx-datagrid-export-button {
  box-shadow: 0 1px 3px rgba(0,0,0,.24);
  border-radius: 5px;
  width: 120px;
  height: 40px;
  color: rgba(0, 0, 0, .87);
  cursor: pointer;
}

.dx-widget.dx-button.dx-button-mode-contained.dx-button-normal.dx-button-has-icon.dx-pivotgrid-export-button {
  box-shadow: 0 1px 3px rgba(0,0,0,.24);
  border-radius: 5px;
  width: 120px;
  height: 40px;
  color: rgba(0, 0, 0, .87);
  cursor: pointer;
}

.dx-icon-xlsxfile:before{
  content: "엑셀 다운로드" !important;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  font-family: Roboto, RobotoFallback, "Noto Kufi Arabic", Helvetica, Arial, sans-serif;
}

.elecAtrz-from-container {
  display: flex;
  flex-wrap: wrap;
}

.elecAtrz-from-container-box {
  width: 23%;
  margin: 10px;
}

.elecAtrzNewReq-ctrtInfo > .dx-fieldset > .dx-field > .dx-field-label{
  text-align: center;
  width: 20%
}

.elecAtrzNewReq-ctrtInfo > .dx-fieldset > .dx-field > .dx-field-value{
  width: 50%
}

.elecAtrzNewReq-ctrtInfo > .dx-fieldset > .dx-field > .dx-field-value > .dx-field-value-text{
  padding: 9px 0px 9px 0px;
  font-size: 16px;
}




.atrz-popup-header {
  display: flex;
  background-color: #d8dbde; 
  padding: 10px 0; 
  margin-top: 20px;
  font-weight: bold;
}

.atrz-popup-row {
  display: flex;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 0;
}

.atrz-popup-cell:nth-child(1) {
  text-align: center;
  flex: 0 0 15%;
  padding: 5px 0;
}

.atrz-popup-cell:nth-child(2) {
  text-align: center;
  flex: 0 0 30%;
  padding: 5px 0;
}

.atrz-popup-cell:nth-child(3) {
  text-align: center;
  flex: 0 0 55%;
  padding: 5px 0;
  display: flex;
}

.aprvrEmp {
  margin-right: 10px;
}

/* 추가 버튼 스타일 */
.atrz-popup-button {
  border: 1px solid #e8e6e6;
  background-color: #e4f4fc;
  padding: 10px 0; 
  cursor: pointer;
}

.popup-delete-btn {
  background-color: transparent;
  color: red;
  border: none;
  cursor: pointer; 
  padding: 0;
  margin-left: 10px;
}

.expense-popup-table {
  border: 1px solid rgb(217, 215, 215);
  width: 100%;
  margin: 0 auto;
}

.expense-popup-first-col {
  flex: 2;
  border: 1px solid rgb(217, 215, 215);
  padding: 8px;
  background-color: #f0f0f0;
  text-align: center;
  font-weight: bold;
}

.expense-popup-val-col {
  flex: 2;
  border: 1px solid rgb(217, 215, 215);
  padding: 8px;
}

.dx-htmleditor-toolbar {
  margin-bottom: 100px; /* HtmlEditor 툴바 높이 조절 */
}

.dx-datagrid .dx-header-row {
  background-color: #f0f0f0;
}

@media (max-width: 600px) {
  .dx-row .dx-column-lines{
    font-size: 8px;
    text-align: left;
  }
}
@media (min-width: 601px) and (max-width: 1650px) {
  .dx-row {
    font-size: 10px;
    text-align: left;
  }
}
@media (min-width: 1651px) {
  .dx-datagrid .dx-row{
    font-size: 13px;
    text-align: left;
  }
}

.dx-row:hover {
  background-color: #dde7f7;
  cursor: pointer; 
}

.dx-row:hover .dx-switch-container {
  background-color: #dde7f7;
}

/* MasterDetail에 hover 적용 X */
.dx-master-detail-row:hover {
  background-color: transparent !important;
  cursor: default !important; 
}

/* MasterDetail 내부 Switch에 hover 적용 X */
.dx-master-detail-row:hover .dx-switch-container {
  background-color: transparent !important;
}

@media (max-width: 600px) {
  .dx-datagrid .dx-header-row .dx-datagrid-text-content {
    font-size: 8px;
    font-weight: bold;
    color: black;
    text-align: left;
  }
}

@media (min-width: 601px) and (max-width: 1850px) {
  .dx-datagrid .dx-header-row .dx-datagrid-text-content {
    font-size: 12px;
    font-weight: bold;
    color: black;
    text-align: left;
  }
}

@media (min-width: 1851px) {
  .dx-datagrid .dx-header-row .dx-datagrid-text-content {
    font-size: 14px;
    font-weight: bold;
    color: black;
    text-align: left;
  }
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.link .image-group {
  display: flex;
  justify-content: center;
  gap: 10px; /* 이미지 간의 간격 */
}

.link .image-group .image-container {
  position: relative;
  width: 100px;
  height: 80px;
  overflow: hidden;
}

.link .image-group .image-container .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease-in-out;
}

.link .image-group .image-container .top-image1 {
  background-image: url('/src/assets/img/link3.png');
  background-position: -100px 0;
  background-size: 564px 168px;
  opacity: 1;
}
.link .image-group .image-container .bottom-image1 {
  background-image: url('/src/assets/img/link3.png');
  background-position: -100px -85px;
  background-size:  564px 168px;
  opacity: 0;
}
.link .image-group .image-container:hover .top-image1 {
  opacity: 0;
}
.link .image-group .image-container:hover .bottom-image1 {
  opacity: 1;
}
.link .image-group .image-container .top-image2 {
  background-image: url('/src/assets/img/link3.png');
  background-position: -220px 0;
  background-size: 564px 168px;
  opacity: 1;
}
.link .image-group .image-container .bottom-image2 {
  background-image: url('/src/assets/img/link3.png');
  background-position: -220px -85px;
  background-size:  564px 168px;
  opacity: 0;
}
.link .image-group .image-container:hover .top-image2 {
  opacity: 0;
}
.link .image-group .image-container:hover .bottom-image2 {
  opacity: 1;
}
.link .image-group .image-container .top-image3 {
  background-image: url('/src/assets/img/link3.png');
  background-position: -350px 0;
  background-size: 564px 168px;
  opacity: 1;
}
.link .image-group .image-container .bottom-image3 {
  background-image: url('/src/assets/img/link3.png');
  background-position: -350px -85px;
  background-size:  564px 168px;
  opacity: 0;
}
.link .image-group .image-container:hover .top-image3 {
  opacity: 0;
}
.link .image-group .image-container:hover .bottom-image3 {
  opacity: 1;
}
.dx-card .responsive-paddings{
  padding : 10px;
}

@media print {
  .elecTopBtn {
    display: none;
  }
}
.elecTopBtn {
  float: right;
}

/* pivotGrid 소계, 총계 */
.dx-pivotgrid .dx-pivotgrid-area-data .dx-row-total, .dx-pivotgrid .dx-pivotgrid-vertical-headers .dx-row-total{
  background-color: #FFE08C;
}
.dx-pivotgrid .dx-grandtotal.dx-last-cell, .dx-pivotgrid .dx-row-total.dx-last-cell {
  padding-left: 22px;
  background-color: #FFE08C;
}
/* 프로젝트비용 tabpanel용 */
@media (max-width: 768px) {
  .dx-tabpanel {
    font-size: 14px; /* 탭 글꼴 크기 조정 */
  }

  .dx-tabpanel .dx-item {
    padding: 10px; /* 탭 패딩 조정 */
  }
  
  .container{
      padding: 0 !important;
      margin: 0 !important;
  }
}
/* MeetingRoomManage.css */
@media (max-width: 768px) {
  .popup-content {
      padding: 10px; /* 팝업 내용의 패딩 조정 */
  }

  .popup-content .row {
      margin-top: 10px;
      margin-bottom: 10px;
  }

  .popup-content .col-md-2 {
      font-size: 12px; /* 레이블 폰트 크기 조정 */
      padding: 5px 0;
  }

  .popup-content .col-md-10 {
      padding: 5px 0;
  }

  .popup-content .dx-textbox,
  .popup-content .dx-selectbox,
  .popup-content .dx-datebox,
  .popup-content .dx-textarea,
  .popup-content .dx-tagbox {
      font-size: 12px; /* 입력 필드 폰트 크기 조정 */
  }

  .popup-content .dx-button {
      font-size: 12px; /* 버튼 폰트 크기 조정 */
      height: 36px; /* 버튼 높이 조정 */
      width: 80px; /* 버튼 너비 조정 */
  }
}

/* MeetingRoomManage.css */
@media (max-width: 768px) {
  #scheduler {
      height: 100vh; /* 화면 높이에 맞게 조정 */
      width: 100vw; /* 화면 너비에 맞게 조정 */
      overflow-x: auto; /* 가로 스크롤 활성화 */
  }

  .dx-scheduler-header-panel-cell,
  .dx-scheduler-date-table-cell {
      font-size: 12px; /* 폰트 크기 조정 */
  }

  .dx-scheduler-navigator .dx-button-text,
  .dx-scheduler-view-switcher .dx-button-text {
      font-size: 12px; /* 네비게이터와 뷰 셀렉션 버튼 텍스트 크기 조정 */
  }

  .dx-scheduler-navigator .dx-button,
  .dx-scheduler-view-switcher .dx-button {
      padding: 5px; /* 패딩 조정 */
  }
}

.projectExpense-bottom-ddln-area {
  height: 250px;
  border-radius: 5px;
  background: #F2F2F2;
  display: flex;
  align-items: center;
}