/* SearchInfoSet.css */
.box_search {
  width: 100%;
  margin-bottom: 20px;
}

.dx-box {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* 요소 간의 간격 */
}

.dx-box-item {
  min-width: 200px; /* placeholder가 잘리지 않도록 최소 너비를 적절히 설정 */
  margin: 5px;
  flex: 1 1 calc(33.333% - 10px); /* 기본적으로 세 개의 요소가 한 줄에 나타나게 설정 */
}

@media (max-width: 768px) {
  .dx-box-item {
    flex: 1 1 100%; /* 작은 화면에서는 한 줄에 한 개의 요소가 나타나도록 설정 */
  }
}
