<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.trsystem.mybatis.mapper.cultureHealthCostMapper">
	<select id="retrieveClturPhstrnActCtList" parameterType="map" resultType="com.trsystem.LowerHashMap">
		SELECT
			EMP_ID
			 , CLTUR_PHSTRN_ACT_CT_SN
			 , CLM_YMD
			 , CLM_AMT
			 , ACT_IEM
			 , CLTUR_PHSTRN_SE_CD
			 , ACT_PURPS
			 , RJCT_PRVONSH
			 , c.ATCHMNFL_ID
			 , a.ATCHMNFL_SN
			 , a.REAL_FILE_NM
			 , a.STRG_FILE_NM
		FROM CLTUR_PHSTRN_ACT_CT_REG c
				 LEFT JOIN  ATCHMNFL a ON c.ATCHMNFL_ID = a.ATCHMNFL_ID
		WHERE EMP_ID = #{empId}
	</select>
</mapper>

