<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.trsystem.mybatis.mapper.elecAtrzMapper">
	<!-- 전자결재 계약: 계약서 품의(재료비) 지불계획 팝업 -->
	<select id="retrieveMatrlPlan" parameterType="map" resultType="com.trsystem.LowerHashMap">
		SELECT CONCAT(PRDUCT_NM,  " - ", DLVGDS_ENTRPS_NM) AS EXPECT_CTRT_ENTRPS_NM
			 , MATRL_CT_SN 
			 , CTRT_AMT
			 , PRDUCT_NM
			 , DLVGDS_ENTRPS_NM
			 , DTL_CN
			 , UNTPC
			 , QY
			 , mcp.PRJCT_ID
		  FROM MATRL_CT_PRMPC mcp
		  JOIN (SELECT MAX(BGT_MNG_ODR) AS BGT_MNG_ODR, PRJCT_ID 
		  		  FROM PRJCT_BGT_PRMPC
	 		 	 WHERE 1=1
		   		   AND ATRZ_DMND_STTS_CD = 'VTW03703'
			    GROUP BY PRJCT_ID) pbp ON (mcp.PRJCT_ID = pbp.PRJCT_ID AND mcp.BGT_MNG_ODR = pbp.BGT_MNG_ODR)
		  WHERE 1=1
		    AND mcp.PRJCT_ID = #{prjctId}
	</select>

	<select id="elecAtrzMain" parameterType="String" resultType="com.trsystem.LowerHashMap">
		SELECT DISTINCT
			ea.ELCTRN_ATRZ_ID,
			ea.ATRZ_DMND_EMP_ID,
			ea.ATRZ_DMND_STTS_CD,
			ea.PRJCT_ID,
			ea.ELCTRN_ATRZ_TY_SE_CD,
			ea.NOW_ATRZ_LN_SN,
			eadf.GNRL_ATRZ_TTL, -- 전자결재 유형
			-- 			cad.CNPT_NM, -- 거래처명
			(SELECT EMP_FLNM FROM EMP WHERE EMP_ID = ea.ATRZ_DMND_EMP_ID) ATRZ_DMND_EMP_NM, -- 기안자
			(SELECT EMP_FLNM FROM EMP WHERE EMP_ID = al.APRVR_EMP_ID) APRVR_EMP_ID, -- 결재자
			(SELECT CD_NM FROM CD WHERE CD_VALUE = al.ATRZ_STEP_CD) ATRZ_STEP_CD_NM, -- 현재 결재단계
			ATRZ_STEP_CD, -- 현재 결재단계
			(SELECT CD_NM FROM CD WHERE CD_VALUE = al.ATRZ_STTS_CD) ATRZ_STTS_CD, -- 결재상태
		DATE_FORMAT(ea.REG_DT, '%Y-%m-%d %H:%i:%s') AS REG_DT,
		COALESCE(ga.GNRL_ATRZ_TTL, ca.CLM_ATRZ_TTL, cta.CTRT_ATRZ_TTL, cga.ATRZ_TTL, CONCAT((SELECT CD_NM FROM CD WHERE CD_VALUE = va.VCATN_TY_CD), ' [',
		DATE_FORMAT(va.VCATN_BGNG_YMD, '%Y-%m-%d'), ' ~ ', DATE_FORMAT(va.VCATN_END_YMD, '%Y-%m-%d'), ' (', va.VCATN_DE_CNT, '일)]')) AS TITLE,
		COALESCE(ga.GNRL_ATRZ_CN, ca.CLM_ATRZ_CN, cta.CTRT_ATRZ_CN, cga.STLM_CN) AS CN,
		COALESCE(ga.ATCHMNFL_ID, ca.ATCHMNFL_ID, cta.ATCHMNFL_ID, cga.ATCHMNFL_ID) AS ATCHMNFL_ID,
		al.RJCT_PRVONSH,
		ea.ATRZ_FORM_DOC_ID,
		ea.ELCTRN_ATRZ_DOC_NO
		FROM ELCTRN_ATRZ ea
		LEFT JOIN ATRZ_LN al ON ea.ELCTRN_ATRZ_ID = al.ELCTRN_ATRZ_ID -- 현재 결재단계만
		LEFT JOIN REFRN_MAN rm ON ea.ELCTRN_ATRZ_ID = rm.ELCTRN_ATRZ_ID -- 참조자의 경우
		LEFT JOIN GNRL_ATRZ ga ON ea.ELCTRN_ATRZ_ID = ga.ELCTRN_ATRZ_ID -- 일반결재
		LEFT JOIN CLM_ATRZ ca ON ea.ELCTRN_ATRZ_ID = ca.ELCTRN_ATRZ_ID -- 청구결재
		LEFT JOIN CLM_ATRZ_DTL cad ON ea.ELCTRN_ATRZ_ID = cad.ELCTRN_ATRZ_ID -- 청구결재 상세
		LEFT JOIN CTRT_ATRZ cta ON ea.ELCTRN_ATRZ_ID = cta.ELCTRN_ATRZ_ID -- 계약결재
		LEFT JOIN CTRT_GIVE_ATRZ cga ON ea.ELCTRN_ATRZ_ID = cga.ELCTRN_ATRZ_ID -- 계약지급결재
		LEFT JOIN VCATN_ATRZ va ON ea.ELCTRN_ATRZ_ID = va.ELCTRN_ATRZ_ID -- 휴가결재
		LEFT JOIN ELCTRN_ATRZ_DOC_FORM eadf ON ea.ATRZ_FORM_DOC_ID = eadf.ATRZ_FORM_DOC_ID -- 서식 제목
		WHERE 1=1
		<choose>
			<when test='sttsCd != null and refer == null and sttsCd.startsWith("VTW037")'>
				AND ATRZ_DMND_EMP_ID = #{empId}
				AND ea.ATRZ_DMND_STTS_CD = #{sttsCd}
				AND ea.NOW_ATRZ_LN_SN = al.ATRZ_LN_SN
			</when>
			<when test='sttsCd != null and refer == true and sttsCd.startsWith("VTW037")'>
				AND rm.EMP_ID = #{empId}
				AND ea.ATRZ_DMND_STTS_CD = #{sttsCd}
				AND ea.NOW_ATRZ_LN_SN = al.ATRZ_LN_SN
			</when>
			<when test='sttsCd != null and sttsCd == "VTW00801"'>
				AND al.APRVR_EMP_ID = #{empId}
				AND al.ATRZ_STTS_CD = #{sttsCd}
				AND ea.NOW_ATRZ_LN_SN = al.ATRZ_LN_SN
			</when>
			<when test='sttsCd != null and sttsCd == "VTW00802"'>
				AND al.APRVR_EMP_ID = #{empId}
				AND al.ATRZ_STTS_CD = #{sttsCd}
			</when>
		</choose>
		<if test="elctrnAtrzTySeCd != null">
			AND ea.ELCTRN_ATRZ_TY_SE_CD = #{elctrnAtrzTySeCd}
		</if>
		<if test="title != null">
			AND (
			LOWER(ga.GNRL_ATRZ_TTL) LIKE CONCAT('%', LOWER(#{title}), '%') OR
			LOWER(ca.CLM_ATRZ_TTL) LIKE CONCAT('%', LOWER(#{title}), '%') OR
			LOWER(cga.ATRZ_TTL) LIKE CONCAT('%', LOWER(#{title}), '%') OR
			LOWER(va.VCATN_TY_CD) IN (SELECT CD_VALUE FROM CD WHERE LOWER(CD_NM) LIKE CONCAT('%', LOWER(#{title}), '%')) )
		</if>
		<if test="startDate != null and endDate == null">
			<![CDATA[
        	AND DATE_FORMAT(ea.REG_DT, '%Y%m%d') >= #{startDate}
    		]]>
		</if>
		<if test="startDate == null and endDate != null">
			<![CDATA[
			AND DATE_FORMAT(ea.REG_DT, '%Y%m%d') <= #{endDate}
			]]>
		</if>
		<if test="startDate != null and endDate != null">
			<if test="!startDate.equals('') and !endDate.equals('')">
				<![CDATA[
				AND DATE_FORMAT(ea.REG_DT, '%Y%m%d') BETWEEN #{startDate} AND #{endDate}
				]]>
			</if>
		</if>


	</select>

	<select id="elecAtrzMainCount" parameterType="String" resultType="com.trsystem.LowerHashMap">
		SELECT
			COUNT(DISTINCT CASE WHEN ea.ATRZ_DMND_STTS_CD = 'VTW03701' AND ea.ATRZ_DMND_EMP_ID = #{empId} THEN ea.ELCTRN_ATRZ_ID END) AS TEMP,
			COUNT(DISTINCT CASE WHEN ea.ATRZ_DMND_STTS_CD = 'VTW03702' AND ea.ATRZ_DMND_EMP_ID = #{empId} THEN ea.ELCTRN_ATRZ_ID END) AS PROGRESS,
			COUNT(DISTINCT CASE WHEN ea.ATRZ_DMND_STTS_CD = 'VTW03703' AND ea.ATRZ_DMND_EMP_ID = #{empId} THEN ea.ELCTRN_ATRZ_ID END) AS TERMINATED_MY,
			COUNT(DISTINCT CASE WHEN ea.ATRZ_DMND_STTS_CD = 'VTW03704' AND ea.ATRZ_DMND_EMP_ID = #{empId} THEN ea.ELCTRN_ATRZ_ID END) AS DENY,
			COUNT(DISTINCT CASE WHEN al.ATRZ_STTS_CD = 'VTW00801' AND al.APRVR_EMP_ID = #{empId} AND ea.NOW_ATRZ_LN_SN = al.ATRZ_LN_SN THEN al.ELCTRN_ATRZ_ID END) AS PROGRESS_APPROVAL,
			COUNT(DISTINCT CASE WHEN al.ATRZ_STTS_CD = 'VTW00802' AND al.APRVR_EMP_ID = #{empId} THEN CONCAT(al.ELCTRN_ATRZ_ID, '-', al.ATRZ_STEP_CD) END) AS TERMINATED_APRVR_EMP,
			COUNT(DISTINCT CASE WHEN ea.ATRZ_DMND_STTS_CD = 'VTW03702' AND rm.EMP_ID = #{empId} THEN rm.ELCTRN_ATRZ_ID END) AS PROGRESS_REFER,
			COUNT(DISTINCT CASE WHEN ea.ATRZ_DMND_STTS_CD = 'VTW03703' AND rm.EMP_ID = #{empId} THEN rm.ELCTRN_ATRZ_ID END) AS TERMINATED_REFER
		FROM ELCTRN_ATRZ ea
				 LEFT JOIN ATRZ_LN al ON ea.ELCTRN_ATRZ_ID = al.ELCTRN_ATRZ_ID
				 LEFT JOIN REFRN_MAN rm ON ea.ELCTRN_ATRZ_ID = rm.ELCTRN_ATRZ_ID
		WHERE ea.ATRZ_DMND_EMP_ID = #{empId}
		   OR al.APRVR_EMP_ID = #{empId}
		   OR rm.EMP_ID = #{empId}
	</select>

	<select id="retrieveAtrzLn" parameterType="map" resultType="com.trsystem.LowerHashMap">
		(
			SELECT
				e.EMP_ID,
				ln.ATRZ_STEP_CD AS APPROVAL_CODE,
				cd.CD_NM AS ATRZ_STEP_CD_NM,
				<choose>
					<when test="sttsCd != null and sttsCd.equals('VTW03701')">
						NULL AS ATRZ_STTS_CD_NM,
					</when>
					<otherwise>
						cd2.CD_NM AS ATRZ_STTS_CD_NM,
					</otherwise>
				</choose>
				e.EMP_FLNM,
				(SELECT CD_NM FROM CD WHERE CD_VALUE = e.JBPS_CD) JBPS_NM,
				NULL AS LIST_EMP_FLNM,
				CASE WHEN (ln.APRV_YMD IS NOT NULL OR ln.RJCT_YMD IS NOT NULL) THEN DATE_FORMAT(ln.MDFCN_DT, '%Y.%m.%d %H:%i:%s')
					 ELSE ''
				 END AS MDFCN_DT,
				ln.RJCT_PRVONSH
			FROM ATRZ_LN ln
				LEFT JOIN EMP e ON ln.APRVR_EMP_ID = e.EMP_ID
				LEFT JOIN CD cd ON ln.ATRZ_STEP_CD = cd.CD_VALUE
				LEFT JOIN CD cd2 ON ln.ATRZ_STTS_CD = cd2.CD_VALUE
			WHERE 1=1
			  AND ln.ELCTRN_ATRZ_ID = #{elctrnAtrzId}
		)
		UNION ALL
		(
			SELECT
				e.EMP_ID,
				rm.REFRN_CNCRRNC_CL_CD AS APPROVAL_CODE,
				NULL AS ATRZ_STEP_CD_NM,
				NULL AS ATRZ_STTS_CD_NM,
				e.EMP_FLNM,
				(SELECT CD_NM FROM CD WHERE CD_VALUE = e.JBPS_CD) JBPS_NM,
				CONCAT(d.DEPT_NM, ' ', e.EMP_FLNM, ' ', (SELECT CD_NM FROM CD WHERE CD_VALUE = e.JBPS_CD)) LIST_EMP_FLNM,
				NULL AS APRV_YMD,
				NULL AS RJCT_PRVONSH
			FROM REFRN_MAN rm
					 LEFT JOIN EMP e ON rm.EMP_ID = e.EMP_ID
					 LEFT JOIN DEPT_HNF dh ON e.EMP_ID = dh.EMP_ID
					 LEFT JOIN DEPT d ON dh.DEPT_ID = d.DEPT_ID
			WHERE rm.ELCTRN_ATRZ_ID = #{elctrnAtrzId}
			AND (rm.REFRN_CNCRRNC_CL_CD LIKE '%VTW00706' OR rm.REFRN_CNCRRNC_CL_CD LIKE '%VTW00707') 
		)
	</select>
	
	<select id="retrieveOutordCompanyPlan" parameterType="map" resultType="com.trsystem.LowerHashMap">
		SELECT 
      		  (SELECT OUTORD_ENTRPS_NM from OUTORD_ENTRPS oe WHERE oe.OUTORD_ENTRPS_ID = oep.OUTORD_ENTRPS_ID) as EXPECT_CTRT_ENTRPS_NM
      		 , OUTORD_ENTRPS_ID 
   			 , OUTORD_ENTRPS_CT_PRMPC_SN 
   			 , TKCG_JOB
   			 , DTL_DTLS
   			 , CTRT_BGNG_YMD
   			 , CTRT_END_YMD
   			 , INPT_PRNMNT_HNF_CNT
   			 , EXPECT_CT			
		  FROM OUTORD_ENTRPS_CT_PRMPC oep
		  JOIN (SELECT MAX(BGT_MNG_ODR) AS BGT_MNG_ODR, PRJCT_ID 
		  		  FROM PRJCT_BGT_PRMPC
	 		 	 WHERE 1=1
		   		   AND ATRZ_DMND_STTS_CD = 'VTW03703'
			    GROUP BY PRJCT_ID) pbp ON (oep.PRJCT_ID = pbp.PRJCT_ID AND oep.BGT_MNG_ODR = pbp.BGT_MNG_ODR)
		  WHERE 1=1
		    AND oep.PRJCT_ID = #{prjctId}
	</select>
	
	<select id="retrieveRealOutordCompanyPlan" parameterType="map" resultType="com.trsystem.LowerHashMap">
		SELECT OUTORD_ENTRPS_ID AS PRDUCT_ID, 
				OUTORD_ENTRPS_NM AS PRDUCT_NM
				from OUTORD_ENTRPS
	</select>
	
	<select id="retrieveMaxAtrzLnSn" parameterType="map" resultType="com.trsystem.LowerHashMap">
		SELECT MAX(ATRZ_LN_SN) AS MAX_ATRZ_LN_SN
		FROM ATRZ_LN
		WHERE 1=1
		  AND ELCTRN_ATRZ_ID = #{elctrnAtrzId}
	</select>
	
	<select id="retrieveElctrnAtrzExpensClm" parameterType="map" resultType="com.trsystem.LowerHashMap">
		SELECT ROW_NUMBER() OVER() AS ROW_ID
		 , cd1.CD_NM AS CT_STLM_SE_CD_NM	
		 , CT_STLM_SE_CD
	 	 , IFNULL(RCIPT_PBLCN_YMD, TAX_BILL_PBLCN_YMD) AS RCIPT_PBLCN_YMD
		 , cad.CNPT_NM	-- 거래처명
		 , cad.CLM_AMT
		 , cd2.CD_NM AS EXPENS_CD_NM
		 , cad.DTL_USE_DTLS
		 , cad.CLM_PRPOS
	 	 , cad.VAT_INCLS_AMT -- 금액(부가세 포함/세금별도)
		 , IFNULL(CONCAT('(', DPSTR_FLNM, ') ', cd3.CD_NM, ' ', DPST_ACTNO, ' / ', DPST_DMND_YMD), '-') AS BANK
	  FROM CLM_ATRZ ca
	  JOIN CLM_ATRZ_DTL cad ON (ca.ELCTRN_ATRZ_ID = cad.ELCTRN_ATRZ_ID)
	  JOIN CD cd1 ON (cad.CT_STLM_SE_CD = cd1.CD_VALUE)
	  JOIN CD cd2 ON (cad.EXPENS_CD = cd2.CD_VALUE)
      LEFT JOIN CD cd3 ON (cad.BANK_CD = cd3.CD_VALUE)
	WHERE 1=1
	   AND ca.ELCTRN_ATRZ_ID = #{elctrnAtrzId}
	</select>
	
    <select id="retrieveElecAtrzLn" parameterType="map" resultType="com.trsystem.LowerHashMap">
		SELECT ATRZ_STEP_CD
			 , ATRZ_LN_SN
			 , ATRZ_STTS_CD
			 , APRVR_EMP_ID
		  FROM ATRZ_LN al
		WHERE 1=1
		  AND ATRZ_LN_SN <![CDATA[ >= ]]> #{atrzLnSn}
		  AND ELCTRN_ATRZ_ID = #{elctrnAtrzId}
	</select>
	
	<select id="retrieveClmAtrzInfo" parameterType="map" resultType="com.trsystem.LowerHashMap">
		SELECT ea.ELCTRN_ATRZ_ID
			 , ea.PRJCT_ID
			 , ea.ATRZ_DMND_EMP_ID AS EMP_ID										-- 결재요청직원ID -> 직원ID(EMP_ID)
			 , ea.ATRZ_DMND_STTS_CD
			 , cad.EXPENS_CD														-- 경비코드
			 , COALESCE(cad.RCIPT_PBLCN_YMD, cad.TAX_BILL_PBLCN_YMD) AS UTZTN_DT	-- 영수증 발행일자 / 세금계산서 발행일자 -> 이용일시(UTZTN_DT)
			 , cad.CNPT_NM AS USE_OFFIC												-- 거래처명 -> 이용처 (USE_OFFIC)
			 , cad.CLM_AMT AS UTZTN_AMT												-- 청구금액 -> 이용금액 (UTZTN_AMT)
			 , cad.CLM_PRPOS AS ATDRN												-- 청구용도(참석자)
			 , cad.DTL_USE_DTLS	AS CT_PRPOS 										-- 상세사용내용 -> 비용용도(CT_PRPOS)
		 	 , cad.CT_STLM_SE_CD AS CT_ATRZ_SE_CD 									-- 비용결재구분코드 -> CT_ATRZ_SE_CD(비용결재구분코드)
			 , al.APRVR_EMP_ID														-- 결재자직원ID
		 	 , al.APRV_YMD															-- 승인일자
		  FROM ELCTRN_ATRZ ea
		  JOIN CLM_ATRZ_DTL cad ON (cad.ELCTRN_ATRZ_ID = ea.ELCTRN_ATRZ_ID)
		  JOIN ATRZ_LN al ON (ea.ELCTRN_ATRZ_ID = al.ELCTRN_ATRZ_ID AND ea.NOW_ATRZ_LN_SN = al.ATRZ_LN_SN)
		 WHERE 1=1
		   AND ea.ELCTRN_ATRZ_ID = #{elctrnAtrzId}
	</select>
	
	<select id="retrieveExpensCdByPrmpc" parameterType="map" resultType="com.trsystem.LowerHashMap">
		SELECT cd.CD_NM, ep.EXPENS_CD
		  FROM EXPENS_PRMPC ep
		  JOIN ( SELECT MAX(BGT_MNG_ODR) AS BGT_MNG_ODR FROM PRJCT_BGT_PRMPC pbp
				  WHERE 1=1
				    AND ATRZ_DMND_STTS_CD = 'VTW03703'
				    AND PRJCT_ID = #{prjctId}) pbp ON (ep.BGT_MNG_ODR = pbp.BGT_MNG_ODR)
		  JOIN CD cd ON (cd.CD_VALUE = ep.EXPENS_CD)
		 WHERE 1=1
		   AND PRJCT_ID = #{prjctId}
	</select>
	
	<select id="retrieveExpensCdAll" parameterType="map" resultType="com.trsystem.LowerHashMap">
		SELECT cd.CD_NM
		     , cd.CD_VALUE AS EXPENS_CD
		  FROM CD cd
  		 WHERE 1=1
		   AND cd.UP_CD_VALUE = 'VTW045'
	</select>
	
	<select id="retrieveOutordEmpPlan" parameterType="map" resultType="com.trsystem.LowerHashMap">
		SELECT 
		    olp.PRJCT_ID,
		    olp.BGT_MNG_ODR,
		    olp.OUTORD_LBRCO_PRMPC_SN,
		    olp.OUTORD_EMP_ID AS EXPECT_INPT_HNF_ID,
		    emp.EMP_FLNM as OUTORD_EMP_NM,
		    olp.HNF_ROLE_CD,
		    cd1.CD_NM as HNF_ROLE_CD_NM,
		    olp.HNF_GRAD_CD,
		    cd2.CD_NM as HNF_GRAD_CD_NM,
		    olp.TKCG_JOB,
		    olp.UNTPC,
		    olp.INPT_PRNMNT_YMD,
		    olp.WITHDR_PRNMNT_YMD,
		    dtl.EXPECT_MM,
		    (olp.UNTPC * dtl.EXPECT_MM) AS USEFUL_AMT,
		    dtl.OUTORD_LBRCO_PRMPC_SN
		FROM OUTORD_LBRCO_PRMPC olp
		JOIN (
		    SELECT MAX(BGT_MNG_ODR) AS BGT_MNG_ODR, PRJCT_ID 
		    FROM PRJCT_BGT_PRMPC
		    WHERE ATRZ_DMND_STTS_CD = 'VTW03703'
		    AND PRJCT_ID = #{prjctId}
		    GROUP BY PRJCT_ID
		) pbp ON olp.PRJCT_ID = pbp.PRJCT_ID AND olp.BGT_MNG_ODR = pbp.BGT_MNG_ODR
		JOIN (
		    SELECT SUM(EXPECT_MM) AS EXPECT_MM, PRJCT_ID, BGT_MNG_ODR, OUTORD_LBRCO_PRMPC_SN 
		    FROM OUTORD_LBRCO_PRMPC_DTL 
		    GROUP BY PRJCT_ID, BGT_MNG_ODR, OUTORD_LBRCO_PRMPC_SN
		) dtl ON olp.PRJCT_ID = dtl.PRJCT_ID AND olp.BGT_MNG_ODR = dtl.BGT_MNG_ODR AND olp.OUTORD_LBRCO_PRMPC_SN = dtl.OUTORD_LBRCO_PRMPC_SN
		JOIN EMP emp ON olp.OUTORD_EMP_ID  = emp.EMP_ID 
		JOIN CD cd1 ON olp.HNF_ROLE_CD = cd1.CD_VALUE
		JOIN CD cd2 ON olp.HNF_GRAD_CD = cd2.CD_VALUE
		WHERE olp.PRJCT_ID = #{prjctId}		
	</select>
	
	<select id="retrieveRealOutordEmpPlan" parameterType="map" resultType="com.trsystem.LowerHashMap">
		SELECT EMP_ID AS INPT_HNF_ID, 
			   EMP_FLNM AS INPT_HNF_ID_NM
		  FROM EMP 
		  WHERE 1=1
		   AND EMP_TY_CD = 'VTW00203'
	</select>
	
	<select id="retrieveDeadLineDate" parameterType="map" resultType="com.trsystem.LowerHashMap">
		SELECT DATE_FORMAT(MAX(CRTR_YMD), '%Y년 %m월 %d일') AS DEAD_LINE_DATE
		  FROM CRTR_DATE
		 WHERE 1=1
	 	   AND CRTR_ODR = #{crtrOdr}
		   AND CRTR_YMD <![CDATA[ <= ]]> CURDATE()
	</select>
	
	<select id="retrieveEntrpsCtrtDtlCnd" parameterType="map" resultType="com.trsystem.LowerHashMap">
		SELECT ELCTRN_ATRZ_ID
			 , STR_TO_DATE(CONCAT(CTRT_YMD, '01'), "%Y%m%d") AS CTRT_YMD
			 , ENTRPS_CTRT_DTL_SN
			 , GIVE_ODR_CD
			 , CTRT_AMT
		  FROM ENTRPS_CTRT_DTL_CND
		 WHERE 1=1
		   AND ELCTRN_ATRZ_ID = #{elctrnAtrzId}
	</select>

	<select id="retrieveCtrtAtrz" parameterType="map" resultType="com.trsystem.LowerHashMap">
		SELECT
			ea.ELCTRN_ATRZ_ID,
			(SELECT c.CD_NM FROM CD c WHERE c.cd_value = ca.CTRT_KND_CD) AS CTRT_KND_CD_NM, -- 결재유형
			ca.CTRT_KND_CD,
			(SELECT EMP_FLNM FROM EMP WHERE EMP_ID = ea.ATRZ_DMND_EMP_ID) ATRZ_DMND_EMP_NM,
			DATE_FORMAT(ea.REG_DT, '%Y-%m-%d %H:%i:%s') AS REG_DT,
			ea.ELCTRN_ATRZ_TY_SE_CD,
			ea.ATRZ_DMND_STTS_CD,
			ca.CTRT_ATRZ_TTL,
			ca.CTRT_ATRZ_TTL AS TITLE,
			ca.CTRT_ATRZ_CN AS CN
		FROM ELCTRN_ATRZ ea
		    JOIN CTRT_ATRZ ca ON ea.ELCTRN_ATRZ_ID = ca.ELCTRN_ATRZ_ID
		WHERE 1=1
			AND ca.CTRT_KND_CD = #{ctrtKndCd}
			AND ea.PRJCT_ID = #{prjctId}
	</select>

	<select id="retrieveCtrtAtrzCnt" parameterType="map" resultType="com.trsystem.LowerHashMap">
		SELECT
			ca.CTRT_KND_CD,
			(SELECT c.CD_NM FROM CD c WHERE c.cd_value = ca.CTRT_KND_CD) AS CTRT_KND_CD_NM,
			COUNT(*) AS CTRT_COUNT
		FROM CTRT_ATRZ ca
				 JOIN ELCTRN_ATRZ ea ON ca.ELCTRN_ATRZ_ID = ea.ELCTRN_ATRZ_ID
		WHERE ea.PRJCT_ID = #{prjctId}
		GROUP BY ca.CTRT_KND_CD
	</select>
	
	
	<select id="retrieveEntrpsCtrtDtl" parameterType="map" resultType="com.trsystem.LowerHashMap">
		SELECT * 
		  FROM 
			(
			SELECT OE.*
			<if test="elctrnAtrzTySeCd == 'VTW04909'">
			,Z.OUTORD_ENTRPS_NM
			</if>
			FROM PRJCT P
			JOIN (SELECT MAX(BGT_MNG_ODR) AS BGT_MNG_ODR, PRJCT_ID
				  		  FROM PRJCT_BGT_PRMPC
			 		 	 WHERE 1=1
				   		   AND ATRZ_DMND_STTS_CD = 'VTW03703'
					    GROUP BY PRJCT_ID) BP ON (P.PRJCT_ID = BP.PRJCT_ID)
			<if test="elctrnAtrzTySeCd == 'VTW04909'">
				JOIN OUTORD_ENTRPS_CT_PRMPC OE ON BP.PRJCT_ID = OE.PRJCT_ID AND BP.BGT_MNG_ODR = OE.BGT_MNG_ODR	
				JOIN OUTORD_ENTRPS Z ON OE.OUTORD_ENTRPS_ID = Z.OUTORD_ENTRPS_ID
			</if>
			<if test="elctrnAtrzTySeCd == 'VTW04910'">
				JOIN MATRL_CT_PRMPC OE ON BP.PRJCT_ID = OE.PRJCT_ID AND BP.BGT_MNG_ODR = OE.BGT_MNG_ODR 
			</if>
			) X
			JOIN (
				SELECT A.*,
					   B.PRJCT_ID
				FROM ENTRPS_CTRT_DTL A
				JOIN ELCTRN_ATRZ B ON A.ELCTRN_ATRZ_ID = B.ELCTRN_ATRZ_ID
				WHERE B.ELCTRN_ATRZ_ID = #{elctrnAtrzId}
				) Y ON X.PRJCT_ID = Y.PRJCT_ID
				<if test="elctrnAtrzTySeCd == 'VTW04909'">
				 	AND X.OUTORD_ENTRPS_NM = Y.PRDUCT_NM
				</if>
				<if test="elctrnAtrzTySeCd == 'VTW04910'">
					AND X.PRDUCT_NM = Y.PRDUCT_NM
				</if>
	</select>
	
	<select id="retrieveOutorHnfDtl" parameterType="map" resultType="com.trsystem.LowerHashMap">
		SELECT A.*,
			   C1.CD_NM AS HNF_ROLE_CD_NM,
			   C2.CD_NM AS HNF_GRAD_CD_NM,
			   C3.CD_NM AS OUTORD_HNF_CTRT_SE_CD_NM,
			   E2.EMP_FLNM AS OUTORD_EMP_NM,
			   E.EMP_FLNM AS INPT_HNF_ID_NM,
			   O.TOTAL_MM AS TOTAL_MM_PLAN,
			   O.TOTAL AS USEFUL_AMT,
			   MM.TOTAL_MM,
			   MM.TOT_AMT
		FROM HNF_CTRT_DTL A 
		JOIN CD C1 ON A.HNF_ROLE_CD = C1.CD_VALUE 
		JOIN CD C2 ON A.HNF_GRAD_CD = C2.CD_VALUE 
		JOIN CD C3 ON A.OUTORD_HNF_CTRT_SE_CD = C3.CD_VALUE 
		JOIN EMP E ON A.INPT_HNF_ID = E.EMP_ID 
		JOIN EMP E2 ON A.EXPECT_INPT_HNF_ID = E2.EMP_ID 
		JOIN ELCTRN_ATRZ EA ON A.ELCTRN_ATRZ_ID = EA.ELCTRN_ATRZ_ID 
		JOIN PRJCT P ON P.PRJCT_ID = EA.PRJCT_ID 
		JOIN (SELECT SUM(DTL.EXPECT_MM) AS TOTAL_MM, 
					(SUM(DTL.EXPECT_MM) * PR.UNTPC) AS TOTAL,
					PR.UNTPC,
					PR.PRJCT_ID, 
					PR.BGT_MNG_ODR, 
					PR.OUTORD_EMP_ID,
					PR.OUTORD_LBRCO_PRMPC_SN
				FROM OUTORD_LBRCO_PRMPC_DTL DTL
				JOIN OUTORD_LBRCO_PRMPC PR ON DTL.PRJCT_ID = PR.PRJCT_ID AND DTL.BGT_MNG_ODR = PR.BGT_MNG_ODR AND PR.OUTORD_LBRCO_PRMPC_SN = DTL.OUTORD_LBRCO_PRMPC_SN
				JOIN (SELECT MAX(BGT_MNG_ODR) AS BGT_MNG_ODR, PRJCT_ID
			  		  FROM PRJCT_BGT_PRMPC
		 		 	 WHERE 1=1
			   		   AND ATRZ_DMND_STTS_CD = 'VTW03703'
				    GROUP BY PRJCT_ID) BP ON PR.PRJCT_ID = BP.PRJCT_ID AND PR.BGT_MNG_ODR = BP.BGT_MNG_ODR
					WHERE 1=1
					GROUP BY PR.PRJCT_ID, PR.BGT_MNG_ODR, PR.OUTORD_EMP_ID, PR.UNTPC, PR.OUTORD_LBRCO_PRMPC_SN) O 
				ON O.PRJCT_ID = P.PRJCT_ID AND O.OUTORD_EMP_ID = A.EXPECT_INPT_HNF_ID AND O.OUTORD_LBRCO_PRMPC_SN = A.OUTORD_LBRCO_PRMPC_SN 
		JOIN (SELECT SUM(MM) AS TOTAL_MM,
	 			INPT_HNF_ID,
	 			SUM(MM * CTRT_AMT) AS TOT_AMT
	 		FROM HNF_CTRT_DTL_MM 
	 		GROUP BY INPT_HNF_ID) MM ON A.INPT_HNF_ID = MM.INPT_HNF_ID
		WHERE 1=1
		AND A.ELCTRN_ATRZ_ID = #{elctrnAtrzId}
	</select>
	
	<select id="retrieveGiveAtrzClmYmd" parameterType="map" resultType="com.trsystem.LowerHashMap">
		WITH GIVE_YMD_DATA 
		<if test="ctrtTyCd == 'VTW04908'">
			AS (
		    SELECT
		        CONCAT(
		            SUBSTRING(CAST(INPT_YM AS CHAR), 1, 4), '.', 
		            SUBSTRING(CAST(INPT_YM AS CHAR), 5, 2), 
		            ' (', CAST(SUM(CTRT_AMT) AS CHAR), '원)'
		        ) AS GIVE_YMD_FORMAT,
		        INPT_YM AS GIVE_YMD,
		        SUM(CTRT_AMT) AS VAT_EXCL_AMT
		    FROM HNF_CTRT_DTL_MM
		    WHERE ELCTRN_ATRZ_ID = #{ctrtElctrnAtrzId}
		    GROUP BY INPT_YM
		),
		</if>
		<if test="ctrtTyCd == 'VTW04909' || ctrtTyCd == 'VTW04910'">
			AS (
			SELECT
		        CONCAT(
		            SUBSTRING(CAST(CTRT_YMD AS CHAR), 1, 4), '.', 
		            SUBSTRING(CAST(CTRT_YMD AS CHAR), 5, 2), 
		            ' (', CAST(SUM(CTRT_AMT) AS CHAR), '원)'
		        ) AS GIVE_YMD_FORMAT,
		        CTRT_YMD AS GIVE_YMD,
		        SUM(CTRT_AMT) AS VAT_EXCL_AMT
		    FROM ENTRPS_CTRT_DTL_CND
		    WHERE ELCTRN_ATRZ_ID = #{ctrtElctrnAtrzId}
		    GROUP BY CTRT_YMD
		),
		</if>
		GIVE_ATRZ_DATA AS (
		    SELECT
		        G.GIVE_YMD
		    FROM CTRT_GIVE_ATRZ G
		    JOIN ELCTRN_ATRZ E ON G.ELCTRN_ATRZ_ID = E.ELCTRN_ATRZ_ID
		    WHERE G.CTRT_ELCTRN_ATRZ_ID = #{ctrtElctrnAtrzId}
		    AND E.ATRZ_DMND_STTS_CD = 'VTW03703'   
		)
		SELECT
		    CASE
		        WHEN G.GIVE_YMD IS NOT NULL THEN
		            CONCAT(
		                SUBSTRING(CAST(GD.GIVE_YMD AS CHAR), 1, 4), '.', 
		                SUBSTRING(CAST(GD.GIVE_YMD AS CHAR), 5, 2), 
		                ' (지급불가)'
		            )
		        ELSE
		            GD.GIVE_YMD_FORMAT
		    END AS GIVE_YMD_FORMAT,
		    GD.GIVE_YMD,
		    GD.VAT_EXCL_AMT,
		    CASE
		        WHEN G.GIVE_YMD IS NOT NULL THEN 'N'
		        ELSE 'Y'
		    END AS USE_YN
		FROM
		    GIVE_YMD_DATA GD
		LEFT JOIN
		    GIVE_ATRZ_DATA G ON GD.GIVE_YMD = G.GIVE_YMD
	</select>
	
	<select id="retrieveElctrnAtrzId" parameterType="map" resultType="com.trsystem.LowerHashMap">
		SELECT CTRT_ELCTRN_ATRZ_ID, ELCTRN_ATRZ_TY_SE_CD
		FROM CTRT_GIVE_ATRZ a
		JOIN ELCTRN_ATRZ b ON a.CTRT_ELCTRN_ATRZ_ID = b.ELCTRN_ATRZ_ID 
		WHERE 1=1
		AND a.ELCTRN_ATRZ_ID = #{elctrnAtrzId}
	</select>
	
	<select id="retrieveCntElctrnAtrz" parameterType="map" resultType="com.trsystem.LowerHashMap">
		SELECT COUNT(ELCTRN_ATRZ_DOC_NO) AS CNT 
		  FROM ELCTRN_ATRZ
	</select>
	
	<select id="retrieveTempClmAtrzDtl" parameterType="map" resultType="com.trsystem.LowerHashMap">
		SELECT ELCTRN_ATRZ_ID
			 , CLM_ATRZ_DTL_SN
			 , TAX_BILL_PBLCN_YMD
			 , CLM_AMT
			 , CT_STLM_SE_CD
			 , RCIPT_PBLCN_YMD
			 , DTL_USE_DTLS
			 , VAT_INCLS_AMT
			 , DPST_DMND_YMD
			 , EXPENS_CD
			 , CNPT_NM
			 , CLM_PRPOS
			 , BANK_CD
			 , DPSTR_FLNM
			 , DPST_ACTNO
			 , TAX_AMT
			 , CASE 
			 	WHEN CT_STLM_SE_CD = 'VTW01904' THEN VAT_INCLS_AMT - CLM_AMT
			 	ELSE 0
			 END AS VAT
		  FROM CLM_ATRZ_DTL cad 
		 WHERE ELCTRN_ATRZ_ID = #{elctrnAtrzId}
	</select>
	
	
</mapper>