<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.trsystem.mybatis.mapper.empListMapper">
	<select id="retrieveEmpList" parameterType="map" resultType="com.trsystem.LowerHashMap">
		SELECT
			E.EMPNO AS EMPNO,
			E.EMP_FLNM AS EMP_FLNM,
			C.CD_NM AS JBPS_NM,
			D.DEPT_NM AS DEPT_NM,
			E.TELNO AS TELNO,
			E.EML AS EML,
			C2.CD_NM AS HODF_STTS_NM
			, COUNT(*) OVER () AS TOTAL_ITEMS
		FROM EMP E
			LEFT OUTER JOIN CD C ON C.CD_VALUE =E.JBPS_CD
			LEFT OUTER JOIN DEPT_HNF DF ON E.EMP_ID = DF.EMP_ID
			LEFT OUTER JOIN DEPT D ON D.DEPT_ID = DF.DEPT_ID
			LEFT OUTER JOIN CD C2 ON C2.CD_VALUE =E.HDOF_STTS_CD
			WHERE 1=1
		
						<if test="empno != null and empno !=''">
							AND E.EMPNO LIKE CONCAT('%', #{empno}, '%')
						</if>
						
						<if test="empFlnm != null and empFlnm !=''">
							AND E.EMP_FLNM LIKE CONCAT('%', #{empFlnm}, '%')
						</if>
						
						<if test="jbpsNm != null and jbpsNm !=''">
							AND E.JBPS_CD = #{jbpsNm}
						</if>
						
						
						<if test="deptNm != null and deptNm !=''">
							AND D.DEPT_NM = #{deptNm}
						</if>
						
						<if test="telNo != null and telNo !=''">
							AND E.TELNO LIKE CONCAT('%', #{telNo}, '%')
						</if>
						
						
						<if test="hodfSttsNm != null and hodfSttsNm !=''">
							AND C2.CD_VALUE = #{hodfSttsNm}
						</if>
				
	</select>
</mapper>

