<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.trsystem.mybatis.mapper.noticeMapper">
    <select id="retrieveNoticeList" parameterType="map" resultType="com.trsystem.LowerHashMap">
        SELECT
        ROW_NUMBER()OVER ()ROWNUM
        , NOTICE_ID
        , NOTICE_TTL
        , REG_EMP_ID
        , REG_DT
        , COUNT(*) OVER () AS TOTAL_ITEMS
        FROM NOTICE n
        WHERE 1=1
        <if test="searchCnd == 'VTW01701' and searchWrd != null and searchWrd != ''">
            AND NOTICE_TTL LIKE CONCAT('%',#{searchWrd},'%')
        </if>
        <if test="searchCnd == 'VTW01702' and searchWrd != null and searchWrd != ''">
            AND NOTICE_CN LIKE CONCAT('%',#{searchWrd},'%')
        </if>
        <if test="searchCnd == 'VTW01703'">
            AND (
            NOTICE_TTL LIKE CONCAT('%',#{searchWrd},'%')
            OR NOTICE_CN LIKE CONCAT('%',#{searchWrd},'%')
            )
        </if>
        ORDER BY REG_DT DESC
    </select>
</mapper>