<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.trsystem.mybatis.mapper.projectExpenseMapper">
	<select id="retrievePrjctCtAplyList" parameterType="map" resultType="com.trsystem.LowerHashMap">
		SELECT
			PRJCT_CT_APLY_SN
			, EXPENS_CD
			, UTZTN_DT
			, USE_OFFIC
			, UTZTN_AMT
			, ATDRN
			, CT_PRPOS
		    , ELCTRN_ATRZ_ID
			, CT_ATRZ_SE_CD
			, (select CD_NM from CD where CD_VALUE = a.CT_ATRZ_SE_CD) AS 'CT_ATRZ_SE_CD_NM'
     		, (select CD_NM from CD where CD_VALUE = a.EXPENS_CD) AS 'EXPENS_CD_NM'
			, a.EMP_ID
		    , a.PRJCT_ID
		    , a.APLY_YM
		    , a.APLY_ODR
			, h.ATRZ_DMND_STTS_CD
			, (select CD_NM from CD where CD_VALUE = h.ATRZ_DMND_STTS_CD) AS 'ATRZ_DMND_STTS_CD_NM'
			, p.PRJCT_NM
		FROM PRJCT_CT_APLY a
			LEFT JOIN  PRJCT_ATRZ_HIST h ON a.PRJCT_ID = h.PRJCT_ID
			AND a.EMP_ID = h.EMP_ID
			AND a.APLY_YM = h.APLY_YM
			AND a.APLY_ODR = h.APLY_ODR
		    LEFT JOIN  PRJCT p ON a.PRJCT_ID = p.PRJCT_ID
		WHERE a.EMP_ID = #{empId} AND a.APLY_YM = #{aplyYm} AND a.APLY_ODR = #{aplyOdr}
	</select>
</mapper>

