<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.trsystem.mybatis.mapper.projectExpenseMapper">

	<select id="retrievePrjctCtAplyList" parameterType="map" resultType="com.trsystem.LowerHashMap">
		SELECT
			pca.PRJCT_CT_APLY_SN
			, pca.EXPENS_CD
			, CASE
				WHEN LENGTH(UTZTN_DT) = 17 THEN SUBSTR(UTZTN_DT,1,7)
				WHEN LENGTH(UTZTN_DT) = 14 THEN CONCAT(SUBSTR(UTZTN_DT, 5, 2),'월 ',SUBSTR(UTZTN_DT,7,2),'일')
			END  AS UTZTN_DT
			, USE_OFFIC
			, UTZTN_AMT
			, ATDRN
			, CT_PRPOS
			, (select CD_NM from CD where CD_VALUE = pca.CT_ATRZ_SE_CD) AS 'CT_ATRZ_SE_CD_NM'
			, (select CD_NM from CD where CD_VALUE = pca.EXPENS_CD) AS 'EXPENS_CD_NM'
			, pca.EMP_ID
			, pca.PRJCT_ID
			, pca.APLY_YM
			, pca.APLY_ODR
			, (select CD_NM from CD where CD_VALUE = pcaz.ATRZ_DMND_STTS_CD) AS 'ATRZ_DMND_STTS_CD_NM'
			, (SELECT PRJCT_NM FROM PRJCT WHERE PRJCT_ID = pca.PRJCT_ID) AS PRJCT_NM
		FROM PRJCT_CT_APLY pca
		JOIN PRJCT_CT_ATRZ pcaz
			ON pca.PRJCT_CT_APLY_SN = pcaz.PRJCT_CT_APLY_SN
			AND pca.EMP_ID = pcaz.EMP_ID
			AND pca.APLY_YM = pcaz.APLY_YM
			AND pca.APLY_ODR = pcaz.APLY_ODR
		WHERE 1=1
		  AND pca.EMP_ID = #{empId}
		  AND pca.APLY_YM = #{aplyYm}
		  AND pca.APLY_ODR = #{aplyOdr}
		<if test="atrz == null">
			AND pca.ELCTRN_ATRZ_ID IS NULL
		</if>
        <if test="atrz != null">
            AND pca.ELCTRN_ATRZ_ID IS NOT NULL
        </if>

	</select>

</mapper>