<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.trsystem.mybatis.mapper.projectMapper">
    <select id="retrievePrjctList" parameterType="map" resultType="com.trsystem.LowerHashMap">
    SELECT
          ROW_NUMBER()OVER ()ROWNUM
        , (SELECT CD_NM FROM CD WHERE CD_VALUE = PRJCT_STLE_CD) AS PRJCT_STLE_CD
        , PRJCT_ID
        , PRJCT_NM
        , (SELECT CD_NM FROM CD WHERE CD_VALUE = BIZ_STTS_CD) AS BIZ_STTS_CD
        , (SELECT EMP_FLNM FROM EMP WHERE EMP_ID = PRJCT_MNGR_EMP_ID ) AS PRJCT_MNGR_EMP_ID
        , CTMMNY_NO
        , CTRT_YMD
        , BIZ_END_YMD
        , TOT_BGT
        , (SELECT MAX(BGT_MNG_ODR) FROM PRJCT_BGT_PRMPC pbp WHERE pbp.PRJCT_ID = p.PRJCT_ID) AS BGT_MNG_ODR
        , COUNT(*) OVER () AS TOTAL_ITEMS
     FROM PRJCT p
    WHERE 1=1
        <if test="prjctStleCd != null and !prjctStleCd.equals('')">
      AND PRJCT_STLE_CD = #{prjctStleCd}
        </if>
        <if test="prjctId != null and !prjctId.equals('')">
      AND PRJCT_ID = #{prjctId}
        </if>
        <if test="bizFlfmtTyCd != null and !bizFlfmtTyCd.equals('')">
      AND BIZ_FLFMT_TY_CD = #{bizFlfmtTyCd}
        </if>
        <if test="ctrtYmd != null and bizEndYmd == null">
      AND CTRT_YMD > #{ctrtYmd}
        </if>
        <if test="ctrtYmd == null and bizEndYmd != null">
      AND BIZ_END_YMD > #{bizEndYmd}
        </if>
        <if test="ctrtYmd != null and bizEndYmd != null">
            <if test="!ctrtYmd.equals('') and !bizEndYmd.equals('')">
      AND CTRT_YMD BETWEEN #{ctrtYmd} AND #{bizEndYmd}
            </if>
        </if>
    ORDER BY REG_DT DESC
    </select>
    
    <select id="retrievePrjctAprvList" parameterType="map" resultType="com.trsystem.LowerHashMap">
	SELECT          
		   ROW_NUMBER()OVER ()ROWNUM
	       , A.PRJCT_ID
	       , PRJCT_NM
	       , BIZ_FLFMT_TY_CD
	       , (SELECT CD_NM FROM CD WHERE CD_VALUE = B.ATRZ_STEP_CD) AS ATRZ_STEP_CD
	       , (SELECT CD_NM FROM CD WHERE CD_VALUE = B.ATRZ_STTS_CD) AS ATRZ_STTS_CD        
	       , (SELECT CD_NM FROM CD WHERE CD_VALUE = BIZ_FLFMT_TY_CD) AS BIZ_FLFMT_TY_CD
	       , (SELECT EMP_FLNM FROM EMP WHERE EMP_ID = PRJCT_MNGR_EMP_ID ) AS PRJCT_MNGR_EMP_ID
	       , B.APRV_YMD
	       , B.RJCT_YMD
	       , COUNT(*) OVER () AS TOTAL_ITEMS
	  FROM PRJCT A
	  JOIN PRJCT_ATRZ_LN B ON (A.PRJCT_ID = B.PRJCT_ID)
    WHERE 1=1
      AND B.APRVR_EMP_ID = #{empId}
        <if test="prjctStleCd != null and !prjctStleCd.equals('')">
      AND PRJCT_STLE_CD = #{prjctStleCd}
        </if>
        <if test="prjctId != null and !prjctId.equals('')">
      AND PRJCT_ID = #{prjctId}
        </if>
        <if test="bizFlfmtTyCd != null and !bizFlfmtTyCd.equals('')">
      AND BIZ_FLFMT_TY_CD = #{bizFlfmtTyCd}
        </if>
        <if test="ctrtYmd != null and bizEndYmd == null">
      AND CTRT_YMD > #{ctrtYmd}
        </if>
        <if test="ctrtYmd == null and bizEndYmd != null">
      AND BIZ_END_YMD > #{bizEndYmd}
        </if>
        <if test="ctrtYmd != null and bizEndYmd != null">
            <if test="!ctrtYmd.equals('') and !bizEndYmd.equals('')">
      AND CTRT_YMD BETWEEN #{ctrtYmd} AND #{bizEndYmd}
            </if>
        </if>
    </select>

    <select id="retrievePrjctCostSummery" parameterType="map" resultType="com.trsystem.LowerHashMap">
        SELECT #{id} AS ID,#{costKind} AS COST_KIND,T.COST_AMT, T.USE_AMT, (T.COST_AMT - T.USE_AMT) AS AVAIL_AMT, TRUNCATE(ROUND(T.USE_AMT / T.COST_AMT * 100, 4), 2) AS USE_RATE, #{group} AS BIND
        FROM
            (SELECT
                 (SELECT IFNULL(SUM( ${costCol} ),0)  FROM ${tbCostNm} A WHERE PRJCT_ID =#{prjctId}
                <if test="control != null">
                    <if test="!control.equals('')">
                     AND EXPENS_CD BETWEEN 'VTW04529' AND 'VTW04539'
                    </if>
                </if>
                <if test="general != null">
                    <if test="!general.equals('')">
                        AND EXPENS_CD BETWEEN 'VTW04501' AND 'VTW04528'
                    </if>
                </if>
                 ) AS COST_AMT,
                 (SELECT IFNULL(SUM( ${excuteCol} ),0) FROM ${tbExcuteNm} A WHERE PRJCT_ID =#{prjctId}
                <if test="control != null">
                    <if test="!control.equals('')">
                        AND EXPENS_CD BETWEEN 'VTW04529' AND 'VTW04539'
                    </if>
                </if>
                <if test="general != null">
                    <if test="!general.equals('')">
                        AND EXPENS_CD BETWEEN 'VTW04501' AND 'VTW04528'
                    </if>
                </if>
                 ) AS USE_AMT
             FROM DUAL
            ) T
    </select>

    <select id="retrieveprojectEmpCostSearch" parameterType="map" resultType="com.trsystem.LowerHashMap">
        SELECT A.PRJCT_ID
             , A.EMP_ID
             , (SELECT EMP_FLNM FROM EMP WHERE EMP_ID = A.EMP_ID) AS EMP_NM
             , A.HNF_ROLE_CD
             , (SELECT CD_NM  FROM CD WHERE CD_VALUE = HNF_ROLE_CD)  HNF_ROLE_NM
             , (SELECT
                        (SELECT CD_NM  FROM CD WHERE CD_VALUE = JBPS_CD)  GRADE
                FROM EMP
                WHERE EMP_ID = A.EMP_ID) AS GRADE
             , A.TKCG_JOB
             , A.INPT_PRNMNT_YMD
             , A.WITHDR_PRNMNT_YMD
             , B.INPT_YM
             , B.EXPECT_MM
        FROM MMNY_LBRCO_PRMPC A
           , MMNY_INPT_MM B
        WHERE A.PRJCT_ID = B.PRJCT_ID
        AND A.BGT_MNG_ODR AND B.BGT_MNG_ODR
        AND A.EMP_ID = B.EMP_ID
        <if test="prjctId != null">
            <if test="!prjctId.equals('')">
                AND A.PRJCT_ID = #{prjctId}
            </if>
        </if>
        <if test="bgtMngOdr != null">
            <if test="!bgtMngOdr.equals('')">
                AND A.BGT_MNG_ODR = #{bgtMngOdr}
            </if>
        </if>
    </select>
  
    <select id="retrieveProjectOutordEmpCostSearch" parameterType="map" resultType="com.trsystem.LowerHashMap">
    SELECT T1.*
             , IFNULL(T2.GIVE_CT, 0) AS GIVE_CT
             , T1.EXPECT_MM  AS MM
             , '계획' AS FLAG
        FROM (
                 SELECT A.PRJCT_ID
                      , A.OUTORD_EMP_ID
                      , (SELECT EMP_FLNM FROM EMP WHERE EMP_ID = A.OUTORD_EMP_ID) AS EMP_FLNM
                      , A.HNF_ROLE_CD
                      , (SELECT CD_NM FROM CD WHERE CD_VALUE = A.HNF_ROLE_CD) AS HNF_ROLE_NM
                      , A.HNF_GRAD_CD
                      , (SELECT CD_NM FROM CD WHERE CD_VALUE = A.HNF_GRAD_CD) AS HNF_GRAD_NM
                      , A.TKCG_JOB
                      , A.INPT_PRNMNT_YMD
                      , A.WITHDR_PRNMNT_YMD
                      , A.UNTPC
                      , B.INPT_YM
                      , EXPECT_MM
                 FROM OUTORD_LBRCO_PRMPC A
                    , OUTORD_LBRCO_PRMPC_DTL B
                 WHERE A.PRJCT_ID = B.PRJCT_ID
                   AND A.BGT_MNG_ODR = B.BGT_MNG_ODR
                   AND A.OUTORD_EMP_ID = B.OUTORD_EMP_ID
                <if test="prjctId != null">
                    <if test="!prjctId.equals('')">
                        AND A.PRJCT_ID = #{prjctId}
                    </if>
                </if>
                <if test="bgtMngOdr != null">
                    <if test="!bgtMngOdr.equals('')">
                        AND A.BGT_MNG_ODR = #{bgtMngOdr}
                    </if>
                </if>
             ) T1
                 LEFT OUTER JOIN OUTORD_LBRCO_EXCN T2
                                 ON T1.PRJCT_ID = T2.PRJCT_ID
                                     AND T1.OUTORD_EMP_ID = T2.OUTORD_EMP_ID
        UNION ALL
        SELECT T1.*
             , IFNULL(T2.GIVE_CT, 0) AS  GIVE_CT
             , IFNULL(T2.MM, 0) AS MM
             , '사용' AS FLAG
        FROM (
                 SELECT A.PRJCT_ID
                      , A.OUTORD_EMP_ID
                      , (SELECT EMP_FLNM FROM EMP WHERE EMP_ID = A.OUTORD_EMP_ID) AS EMP_FLNM
                      , A.HNF_ROLE_CD
                      , (SELECT CD_NM FROM CD WHERE CD_VALUE = A.HNF_ROLE_CD) AS HNF_ROLE_NM
                      , A.HNF_GRAD_CD
                      , (SELECT CD_NM FROM CD WHERE CD_VALUE = A.HNF_GRAD_CD) AS HNF_GRAD_NM
                      , A.TKCG_JOB
                      , A.INPT_PRNMNT_YMD
                      , A.WITHDR_PRNMNT_YMD
                      , A.UNTPC
                      , B.INPT_YM
                      , EXPECT_MM
                 FROM OUTORD_LBRCO_PRMPC A
                    , OUTORD_LBRCO_PRMPC_DTL B
                 WHERE A.PRJCT_ID = B.PRJCT_ID
                   AND A.BGT_MNG_ODR = B.BGT_MNG_ODR
                   AND A.OUTORD_EMP_ID = B.OUTORD_EMP_ID
                <if test="prjctId != null">
                    <if test="!prjctId.equals('')">
                        AND A.PRJCT_ID = #{prjctId}
                    </if>
                </if>
                <if test="bgtMngOdr != null">
                    <if test="!bgtMngOdr.equals('')">
                        AND A.BGT_MNG_ODR = #{bgtMngOdr}
                    </if>
                </if>
             ) T1
                 LEFT OUTER JOIN OUTORD_LBRCO_EXCN T2
                                 ON T1.PRJCT_ID = T2.PRJCT_ID
                                     AND T1.OUTORD_EMP_ID = T2.OUTORD_EMP_ID
        UNION ALL
        SELECT T1.*
             , IFNULL(T2.GIVE_CT, 0) AS GIVE_CT
             , T1.EXPECT_MM - IFNULL(T2.MM, 0) AS mm
             , '사용가능' AS FLAG
        FROM (
                 SELECT A.PRJCT_ID
                      , A.OUTORD_EMP_ID
                      , (SELECT EMP_FLNM FROM EMP WHERE EMP_ID = A.OUTORD_EMP_ID) AS EMP_FLNM
                      , A.HNF_ROLE_CD
                      , (SELECT CD_NM FROM CD WHERE CD_VALUE = A.HNF_ROLE_CD) AS HNF_ROLE_NM
                      , A.HNF_GRAD_CD
                      , (SELECT CD_NM FROM CD WHERE CD_VALUE = A.HNF_GRAD_CD) AS HNF_GRAD_NM
                      , A.TKCG_JOB
                      , A.INPT_PRNMNT_YMD
                      , A.WITHDR_PRNMNT_YMD
                      , A.UNTPC
                      , B.INPT_YM
                      , EXPECT_MM
                 FROM OUTORD_LBRCO_PRMPC A
                    , OUTORD_LBRCO_PRMPC_DTL B
                 WHERE A.PRJCT_ID = B.PRJCT_ID
                   AND A.BGT_MNG_ODR = B.BGT_MNG_ODR
                   AND A.OUTORD_EMP_ID = B.OUTORD_EMP_ID
                <if test="prjctId != null">
                    <if test="!prjctId.equals('')">
                        AND A.PRJCT_ID = #{prjctId}
                    </if>
                </if>
                <if test="bgtMngOdr != null">
                    <if test="!bgtMngOdr.equals('')">
                        AND A.BGT_MNG_ODR = #{bgtMngOdr}
                    </if>
                </if>
             ) T1
                 LEFT OUTER JOIN OUTORD_LBRCO_EXCN T2
                                 ON T1.PRJCT_ID = T2.PRJCT_ID
                                     AND T1.OUTORD_EMP_ID = T2.OUTORD_EMP_ID
    </select>

    <select id="retrievePrjctMatrlCt" parameterType="map" resultType="com.trsystem.LowerHashMap">
    SELECT
          A.MATRL_CT_SN
        , A.MATRL_CT_IEM_CD
        , (SELECT CD_NM FROM CD WHERE CD_VALUE = A.MATRL_CT_IEM_CD) AS MATRL_CT_IEM_NM
        , A.PRDUCT_NM
        , A.QY
        , A.CNTRCTAMOUNT
        , B.QY  AS USE_AMT
        , (A.CNTRCTAMOUNT - B.QY) AS AVAIL
     FROM MATRL_CT_PRMPC A
     LEFT JOIN MATRL_CT_EXCN B ON A.PRJCT_ID = B.PRJCT_ID
    WHERE 1=1
    <if test="prjctId != null">
        <if test="!prjctId.equals('')">
            AND A.PRJCT_ID = #{prjctId}
        </if>
    </if>
    <if test="bgtMngOdr != null">
        <if test="!bgtMngOdr.equals('')">
            AND A.BGT_MNG_ODR = #{bgtMngOdr}
        </if>
    </if>
    UNION
    SELECT
          A.MATRL_CT_SN
        , A.MATRL_CT_IEM_CD
        , (SELECT CD_NM FROM CD WHERE CD_VALUE = A.MATRL_CT_IEM_CD) AS MATRL_CT_IEM_NM
        , A.PRDUCT_NM
        , A.QY
        , A.CNTRCTAMOUNT
        , B.QY  AS USE_AMT
        , (A.CNTRCTAMOUNT - B.QY) AS AVAIL
     FROM MATRL_CT_PRMPC A
     RIGHT JOIN MATRL_CT_EXCN B ON A.PRJCT_ID = B.PRJCT_ID
    WHERE 1=1
    <if test="prjctId != null">
        <if test="!prjctId.equals('')">
            AND A.PRJCT_ID = #{prjctId}
        </if>
    </if>
    <if test="bgtMngOdr != null">
        <if test="!bgtMngOdr.equals('')">
            AND A.BGT_MNG_ODR = #{bgtMngOdr}
        </if>
    </if>
    </select>

    <select id="retrieveProjectGeneralBudgetCostSearch" parameterType="map" resultType="com.trsystem.LowerHashMap">
    SELECT T1.*
             , T1.EXPECT_CT AS EXPENS_CT
             , '예산' FLAG
        FROM (
                 SELECT A.PRJCT_ID, A.DTL_DTLS, A.EXPENS_CD,
                        (SELECT CD_NM FROM CD WHERE CD_VALUE = A.EXPENS_CD) AS EXPENS_NM ,
                        B.USE_YM, B.EXPECT_CT
                 FROM EXPENS_PRMPC A , EXPENS_MNBY_PRMPC_DTLS B
                 WHERE A.PRJCT_ID = B.PRJCT_ID
                   AND A.BGT_MNG_ODR = B.BGT_MNG_ODR
                   AND A.EXPENS_CD = B.EXPENS_CD
                <if test="prjctId != null">
                    <if test="!prjctId.equals('')">
                        AND A.PRJCT_ID = #{prjctId}
                    </if>
                </if>
                <if test="bgtMngOdr != null">
                    <if test="!bgtMngOdr.equals('')">
                        AND A.BGT_MNG_ODR = #{bgtMngOdr}
                    </if>
                </if>
                <if test="costFlag.equals('general')">
                    AND A.EXPENS_CD BETWEEN 'VTW04501' AND 'VTW04528'
                </if>
                <if test="costFlag.equals('control')">
                    AND A.EXPENS_CD BETWEEN 'VTW04529' AND 'VTW04535'
                </if>
             ) T1
                 LEFT OUTER JOIN EXPENS_EXCN T2
                                 ON T1.PRJCT_ID = T2.PRJCT_ID
                                     AND T1.EXPENS_CD = T2.EXPENS_CD
        UNION ALL
        SELECT T1.*
             , IFNULL(T2.EXPENS_CT,0) AS EXPENS_CT
             , '사용' FLAG
        FROM (
                 SELECT A.PRJCT_ID, A.DTL_DTLS, A.EXPENS_CD,
                        (SELECT CD_NM FROM CD WHERE CD_VALUE = A.EXPENS_CD) AS EXPENS_NM ,
                        B.USE_YM, B.EXPECT_CT
                 FROM EXPENS_PRMPC A , EXPENS_MNBY_PRMPC_DTLS B
                 WHERE A.PRJCT_ID = B.PRJCT_ID
                   AND A.BGT_MNG_ODR = B.BGT_MNG_ODR
                   AND A.EXPENS_CD = B.EXPENS_CD
                <if test="prjctId != null">
                    <if test="!prjctId.equals('')">
                        AND A.PRJCT_ID = #{prjctId}
                    </if>
                </if>
                <if test="bgtMngOdr != null">
                    <if test="!bgtMngOdr.equals('')">
                        AND A.BGT_MNG_ODR = #{bgtMngOdr}
                    </if>
                </if>
                <if test="costFlag.equals('general')">
                    AND A.EXPENS_CD BETWEEN 'VTW04501' AND 'VTW04528'
                </if>
                <if test="costFlag.equals('control')">
                    AND A.EXPENS_CD BETWEEN 'VTW04529' AND 'VTW04535'
                </if>
             ) T1
                 LEFT OUTER JOIN EXPENS_EXCN T2
                                 ON T1.PRJCT_ID = T2.PRJCT_ID
                                     AND T1.EXPENS_CD = T2.EXPENS_CD
        UNION ALL
        SELECT T1.*
             , T1.EXPECT_CT - IFNULL(T2.EXPENS_CT,0) AS EXPENS_CT
             , '가용' FLAG
        FROM (
                 SELECT A.PRJCT_ID, A.DTL_DTLS, A.EXPENS_CD,
                        (SELECT CD_NM FROM CD WHERE CD_VALUE = A.EXPENS_CD) AS EXPENS_NM ,
                        B.USE_YM, B.EXPECT_CT
                 FROM EXPENS_PRMPC A , EXPENS_MNBY_PRMPC_DTLS B
                 WHERE A.PRJCT_ID = B.PRJCT_ID
                   AND A.BGT_MNG_ODR = B.BGT_MNG_ODR
                   AND A.EXPENS_CD = B.EXPENS_CD
                <if test="prjctId != null">
                    <if test="!prjctId.equals('')">
                        AND A.PRJCT_ID = #{prjctId}
                    </if>
                </if>
                <if test="bgtMngOdr != null">
                    <if test="!bgtMngOdr.equals('')">
                        AND A.BGT_MNG_ODR = #{bgtMngOdr}
                    </if>
                </if>
                <if test="costFlag.equals('general')">
                    AND A.EXPENS_CD BETWEEN 'VTW04501' AND 'VTW04528'
                </if>
                <if test="costFlag.equals('control')">
                    AND A.EXPENS_CD BETWEEN 'VTW04529' AND 'VTW04535'
                </if>
             ) T1
                 LEFT OUTER JOIN EXPENS_EXCN T2
                                 ON T1.PRJCT_ID = T2.PRJCT_ID
                                     AND T1.EXPENS_CD = T2.EXPENS_CD
      </select>
      
	<select id="retrieveBgtMngOdr" parameterType="map" resultType="com.trsystem.LowerHashMap">
        SELECT MAX(BGT_MNG_ODR) AS BGT_MNG_ODR
        FROM PRJCT_BGT_PRMPC
       WHERE 1=1
       	 AND ATRZ_DMND_STTS_CD = 'VTW03301'
        <if test="prjctId != null">
            <if test="!prjctId.equals('')">
                AND PRJCT_ID = #{prjctId}
            </if>
        </if>
    </select>
    
	<select id="retrievePrjctAprvDtl" parameterType="map" resultType="com.trsystem.LowerHashMap">
		SELECT concat(c1.CD_NM, ' (', c2.CD_NM, ')') AS ATRZ_STEP_STTS
			 , APRVR_EMP_ID
		 	 , e2.EMP_FLNM AS REG_EMP_FLNM
			 , e.EMP_FLNM
			 , pal.ATRZ_OPNN_CN
			 , (SELECT APRV_YMD FROM PRJCT_ATRZ_LN WHERE ATRZ_STEP_CD = 'VTW00705') AS APRV_YMD
		 	 , (SELECT RJCT_YMD FROM PRJCT_ATRZ_LN WHERE RJCT_YMD IS NOT NULL) AS RJCT_YMD
	 	 	 , pal.RJCT_PRVONSH
		  FROM PRJCT_ATRZ_LN pal 
		  JOIN CD c1 ON (c1.CD_VALUE = pal.ATRZ_STEP_CD)
		  JOIN CD c2 ON (c2.CD_VALUE = pal.ATRZ_STTS_CD)
		  JOIN EMP e ON (pal.APRVR_EMP_ID = e.EMP_ID)
	      JOIN EMP e2 ON (pal.REG_EMP_ID = e2.EMP_ID)
		 WHERE 1=1
        <if test="prjctId != null">
            <if test="!prjctId.equals('')">
                AND PRJCT_ID = #{prjctId}
            </if>
        </if>
    </select>
    
	<select id="retrieveAprvrEmpId" parameterType="map" resultType="com.trsystem.LowerHashMap">
		<![CDATA[
	    WITH RECURSIVE CTE(DEPT_ID, DEPT_NM, UP_DEPT_ID, EMP_ID, DEPTH) AS (
	        SELECT d1.DEPT_ID, DEPT_NM, UP_DEPT_ID, dh1.EMP_ID, 1
	        FROM DEPT d1
	        JOIN DEPT_HNF dh1 ON (d1.DEPT_ID = dh1.DEPT_ID)
	        WHERE UP_DEPT_ID IS NULL
	        UNION ALL
	        SELECT cd.DEPT_ID, cd.DEPT_NM, cd.UP_DEPT_ID, dh2.EMP_ID, DEPTH + 1
	        FROM DEPT cd
	        JOIN DEPT_HNF dh2 ON (cd.DEPT_ID = dh2.DEPT_ID)
	        INNER JOIN CTE B ON (B.DEPT_ID = cd.UP_DEPT_ID)
	    )
	    SELECT @r AS DEPT_ID
	         , (SELECT @r := UP_DEPT_ID FROM CTE WHERE DEPT_ID = @r LIMIT 1) AS UP_DEPT_ID
	         , dh.EMP_ID
	         , cte.DEPTH
	    FROM (SELECT @r := #{deptId}) AS vars, (SELECT * FROM CTE WHERE DEPT_ID != #{deptId}) AS h
	    JOIN DEPT_HNF dh ON (dh.DEPT_ID = @r)
	    JOIN CTE cte ON (cte.DEPT_ID = @r)
	    WHERE @r <> '-'
	    AND dh.JBTTL_CD = 'VTW01001'
	    ORDER BY cte.DEPTH ASC
		]]>
    </select>
    
	<select id="retrievePrjctAtrzLnSn" parameterType="map" resultType="com.trsystem.LowerHashMap">
		SELECT MAX(ATRZ_LN_SN) AS ATRZ_LN_SN
		  FROM PRJCT_ATRZ_LN
		 WHERE PRJCT_ID = #{prjctId};
	</select>
	
	<select id="retrieveChgPrmpcOdr" parameterType="map" resultType="com.trsystem.LowerHashMap">
		<if test="cnsrtmSn != null">
			SELECT COALESCE(MAX(CNSRTM_SN),0) AS CNSRTM_SN
			  FROM PRJCT_CNSRTM
			 WHERE PRJCT_ID = #{prjctId}
		</if>
		<if test="matrlCtSn != null">
			SELECT COALESCE(MAX(MATRL_CT_SN),0) AS MATRL_CT_SN
			  FROM MATRL_CT_PRMPC
			 WHERE PRJCT_ID = #{prjctId}
			 AND BGT_MNG_ODR = #{bgtMngOdr}
		</if>
		<if test="expensPrmpcSn != null">
			SELECT COALESCE(MAX(EXPENS_PRMPC_SN),0) AS EXPENS_PRMPC_SN
			  FROM EXPENS_PRMPC
			 WHERE PRJCT_ID = #{prjctId}
			 AND BGT_MNG_ODR = #{bgtMngOdr}
		</if>		    
	</select>
</mapper>