<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.trsystem.mybatis.mapper.projectMapper">
    <select id="retrievePrjctList" parameterType="map" resultType="com.trsystem.LowerHashMap">
    SELECT
          ROW_NUMBER()OVER ()ROWNUM
        , (SELECT CD_NM FROM CD WHERE CD_VALUE = PRJCT_STLE_CD) AS PRJCT_STLE_CD
        , PRJCT_ID
        , PRJCT_NM
        , (SELECT CD_NM FROM CD WHERE CD_VALUE = BIZ_STTS_CD) AS BIZ_STTS_CD_NM
        , BIZ_STTS_CD
        , (SELECT EMP_FLNM FROM EMP WHERE EMP_ID = PRJCT_MNGR_EMP_ID ) AS PRJCT_MNGR_EMP_ID
        , (SELECT CTMMNY_NM FROM CTMMNY_INFO ci WHERE ci.CTMMNY_ID = p.CTMMNY_ID) AS CTMMNY_NM
        , DATE_FORMAT(CTRT_YMD, '%Y-%m-%d') AS CTRT_YMD
        , DATE_FORMAT(BIZ_END_YMD, '%Y-%m-%d') AS BIZ_END_YMD
        , TOT_BGT
	    , (SELECT MAX(BGT_MNG_ODR) FROM PRJCT_BGT_PRMPC pbp WHERE pbp.PRJCT_ID = p.PRJCT_ID AND pbp.ATRZ_DMND_STTS_CD = 'VTW03703') AS BGT_MNG_ODR
	    , (SELECT IFNULL(MAX(BGT_MNG_ODR), 1) FROM PRJCT_BGT_PRMPC pbp WHERE pbp.PRJCT_ID = p.PRJCT_ID) AS BGT_MNG_ODR_TOBE
	    , PRJCT_CD_IDNTFR
	    , DEPT_ID
        , COUNT(*) OVER () AS TOTAL_ITEMS
     FROM PRJCT p
    WHERE 1=1
        <if test="prjctStleCd != null and !prjctStleCd.equals('')">
      AND PRJCT_STLE_CD = #{prjctStleCd}
        </if>
        <if test="prjctId != null and !prjctId.equals('')">
      AND PRJCT_ID = #{prjctId}
        </if>
        <if test="bizFlfmtTyCd != null and !bizFlfmtTyCd.equals('')">
      AND BIZ_FLFMT_TY_CD = #{bizFlfmtTyCd}
        </if>
        <if test="ctrtYmd != null and bizEndYmd == null">
      AND CTRT_YMD > #{ctrtYmd}
        </if>
        <if test="ctrtYmd == null and bizEndYmd != null">
      AND BIZ_END_YMD > #{bizEndYmd}
        </if>
        <if test="ctrtYmd != null and bizEndYmd != null">
            <if test="!ctrtYmd.equals('') and !bizEndYmd.equals('')">
      AND CTRT_YMD BETWEEN #{ctrtYmd} AND #{bizEndYmd}
            </if>
        </if>
    ORDER BY REG_DT DESC
    </select>
    
    <select id="retrievePrjctBsisInfo" parameterType="map" resultType="com.trsystem.LowerHashMap">
		SELECT PRJCT_NM
			 , PRJCT_CD_IDNTFR
			 , d.DEPT_NM
			 , e.EMP_FLNM AS PRJCT_MNGR_EMP_FLNM
			 , cd1.CD_NM AS PRJCT_STLE_CD_NM
			 , cd2.CD_NM AS BIZ_STTS_CD_NM
			 , DATE_FORMAT(EXPECT_ORDER_YMD, '%Y-%m-%d') AS EXPECT_ORDER_YMD 			-- 예상발주일
			 , DATE_FORMAT(BEFFAT_PBANC_DDLN_YMD, '%Y-%m-%d') AS BEFFAT_PBANC_DDLN_YMD  -- 사전공고마감일
			 , DATE_FORMAT(PROPSE_DDLN_YMD, '%Y-%m-%d') AS PROPSE_DDLN_YMD 				-- 제안마감일
			 , DATE_FORMAT(PROPSE_PRSNTN_YMD, '%Y-%m-%d') AS PROPSE_PRSNTN_YMD 			-- 제안PT일
			 , DATE_FORMAT(CTRT_YMD, '%Y-%m-%d') AS CTRT_YMD 							-- 계약일
			 , DATE_FORMAT(BIZ_END_YMD, '%Y-%m-%d') AS BIZ_END_YMD 						-- 사업종료일
			 , DATE_FORMAT(IGI_YMD, '%Y-%m-%d') AS IGI_YMD 								-- 검수일
			 , DATE_FORMAT(STBLE_END_YMD, '%Y-%m-%d') AS STBLE_END_YMD 					-- 경비사용종료일
		 	 , ci.CTMMNY_NM
			 , p.PIC_FLNM
			 , p.PIC_TELNO
			 , p.PIC_EML 
		  FROM PRJCT p
		  JOIN DEPT d ON (d.DEPT_ID = p.DEPT_ID)
		  JOIN EMP e ON (e.EMP_ID = p.PRJCT_MNGR_EMP_ID)
		  JOIN CD cd1 ON (cd1.CD_VALUE = p.PRJCT_STLE_CD)
		  JOIN CD cd2 ON (cd2.CD_VALUE = p.BIZ_STTS_CD)
	      JOIN CTMMNY_INFO ci ON (ci.CTMMNY_ID = p.CTMMNY_ID)
		 WHERE 1=1
		   AND PRJCT_ID = #{prjctId}
    </select>
    
    <select id="retrievePrjctAprvList" parameterType="map" resultType="com.trsystem.LowerHashMap">
	SELECT ROW_NUMBER() OVER() ROWNUM, A.*
	  FROM (
			 SELECT pal.PRJCT_ID 
				  , (SELECT CD_NM FROM CD WHERE CD_VALUE = pal.PRMPC_INPT_SE_CD) AS PRMPC_INPT_SE_CD
				  , p.PRJCT_NM
				  , (SELECT CD_NM FROM CD WHERE CD_VALUE = pald.ATRZ_STEP_CD) AS ATRZ_STEP_CD_NM
			 	  , pald.ATRZ_STEP_CD
				  , (SELECT CD_NM FROM CD WHERE CD_VALUE = pald.ATRZ_STTS_CD) AS ATRZ_STTS_CD_NM
				  , pald.ATRZ_STTS_CD
				  , e.EMP_FLNM
				  , DATE_FORMAT(pald.APRV_YMD, '%Y-%m-%d') AS APRV_YMD
				  , DATE_FORMAT(pald.RJCT_YMD, '%Y-%m-%d') AS RJCT_YMD
				  , pal.ATRZ_LN_SN
				  , pal.NOW_ATRZ_STEP_CD
				  , pal.BGT_MNG_ODR
				  , pald.APRVR_EMP_ID
			      , COUNT(*) OVER () AS TOTAL_ITEMS
			  FROM PRJCT_ATRZ_LN pal
			  JOIN PRJCT_ATRZ_LN_DTL pald ON(pal.PRJCT_ID = pald.PRJCT_ID AND pal.ATRZ_LN_SN = pald.ATRZ_LN_SN AND pal.NOW_ATRZ_STEP_CD = pald.ATRZ_STEP_CD)
			  JOIN PRJCT p ON (p.PRJCT_ID = pal.PRJCT_ID AND p.PRJCT_ID = pald.PRJCT_ID)
			  JOIN EMP e  ON (e.EMP_ID = pal.REG_EMP_ID)
			 WHERE 1=1
			   AND (pald.APRVR_EMP_ID = #{empId} OR pal.REG_EMP_ID = #{empId})
		        <if test="prmpcInptSeCd != null and !prmpcInptSeCd.equals('')">
		       AND pal.PRMPC_INPT_SE_CD = #{prmpcInptSeCd}
		        </if>
		        <if test="prjctId != null and !prjctId.equals('')">
		       AND pal.PRJCT_ID = #{prjctId}
		        </if>
		        <if test="atrzSttsCd != null and !atrzSttsCd.equals('')">
		       AND ATRZ_STTS_CD = #{atrzSttsCd}
		        </if>
    		   AND pald.ATRZ_STTS_CD != 'VTW00805'
			   ORDER BY pal.REG_DT DESC
	  ) A
    </select>

    <select id="retrievePrjctCostSummery" parameterType="map" resultType="com.trsystem.LowerHashMap">
        SELECT #{id} AS ID,#{costKind} AS COST_KIND,T.COST_AMT, T.USE_AMT, (T.COST_AMT - T.USE_AMT) AS AVAIL_AMT, TRUNCATE(ROUND(T.USE_AMT / T.COST_AMT * 100, 4), 2) AS USE_RATE, #{group} AS BIND
        FROM
            (SELECT
                 (SELECT IFNULL(SUM( ${costCol} ),0)  FROM ${tbCostNm} A WHERE PRJCT_ID =#{prjctId}
                <if test="control != null">
                    <if test="!control.equals('')">
                     AND EXPENS_CD BETWEEN 'VTW04529' AND 'VTW04539'
                    </if>
                </if>
                <if test="general != null">
                    <if test="!general.equals('')">
                        AND EXPENS_CD BETWEEN 'VTW04501' AND 'VTW04528'
                    </if>
                </if>
                 ) AS COST_AMT,
                 (SELECT IFNULL(SUM( ${excuteCol} ),0) FROM ${tbExcuteNm} A WHERE PRJCT_ID =#{prjctId}
                <if test="control != null">
                    <if test="!control.equals('')">
                        AND EXPENS_CD BETWEEN 'VTW04529' AND 'VTW04539'
                    </if>
                </if>
                <if test="general != null">
                    <if test="!general.equals('')">
                        AND EXPENS_CD BETWEEN 'VTW04501' AND 'VTW04528'
                    </if>
                </if>
                 ) AS USE_AMT
             FROM DUAL
            ) T
    </select>

    <select id="retrieveprojectEmpCostSearch" parameterType="map" resultType="com.trsystem.LowerHashMap">
        SELECT A.PRJCT_ID
             , A.EMP_ID
             , (SELECT EMP_FLNM FROM EMP WHERE EMP_ID = A.EMP_ID) AS EMP_NM
             , A.HNF_ROLE_CD
             , (SELECT CD_NM  FROM CD WHERE CD_VALUE = HNF_ROLE_CD)  HNF_ROLE_NM
             , (SELECT
                        (SELECT CD_NM  FROM CD WHERE CD_VALUE = JBPS_CD)  GRADE
                FROM EMP
                WHERE EMP_ID = A.EMP_ID) AS GRADE
             , A.TKCG_JOB
             , A.INPT_PRNMNT_YMD
             , A.WITHDR_PRNMNT_YMD
             , B.INPT_YM
             , B.EXPECT_MM
        FROM MMNY_LBRCO_PRMPC A
           , MMNY_INPT_MM B
        WHERE A.PRJCT_ID = B.PRJCT_ID
        AND A.BGT_MNG_ODR AND B.BGT_MNG_ODR
        AND A.MMNY_LBRCO_PRMPC_SN = B.MMNY_LBRCO_PRMPC_SN
        <if test="prjctId != null">
            <if test="!prjctId.equals('')">
                AND A.PRJCT_ID = #{prjctId}
            </if>
        </if>
        <if test="bgtMngOdr != null">
            <if test="!bgtMngOdr.equals('')">
                AND A.BGT_MNG_ODR = #{bgtMngOdr}
            </if>
        </if>
    </select>
  
    <select id="retrieveProjectOutordEmpCostSearch" parameterType="map" resultType="com.trsystem.LowerHashMap">
    SELECT T1.*
             , IFNULL(T2.GIVE_CT, 0) AS GIVE_CT
             , T1.EXPECT_MM  AS MM
             , '계획' AS FLAG
        FROM (
                 SELECT A.PRJCT_ID
                      , A.OUTORD_EMP_ID
                      , (SELECT EMP_FLNM FROM EMP WHERE EMP_ID = A.OUTORD_EMP_ID) AS EMP_FLNM
                      , A.HNF_ROLE_CD
                      , (SELECT CD_NM FROM CD WHERE CD_VALUE = A.HNF_ROLE_CD) AS HNF_ROLE_NM
                      , A.HNF_GRAD_CD
                      , (SELECT CD_NM FROM CD WHERE CD_VALUE = A.HNF_GRAD_CD) AS HNF_GRAD_NM
                      , A.TKCG_JOB
                      , A.INPT_PRNMNT_YMD
                      , A.WITHDR_PRNMNT_YMD
                      , A.UNTPC
                      , B.INPT_YM
                      , EXPECT_MM
                 FROM OUTORD_LBRCO_PRMPC A
                    , OUTORD_LBRCO_PRMPC_DTL B
                 WHERE A.PRJCT_ID = B.PRJCT_ID
                   AND A.BGT_MNG_ODR = B.BGT_MNG_ODR
                   AND A.OUTORD_LBRCO_PRMPC_SN = B.OUTORD_LBRCO_PRMPC_SN
                <if test="prjctId != null">
                    <if test="!prjctId.equals('')">
                        AND A.PRJCT_ID = #{prjctId}
                    </if>
                </if>
                <if test="bgtMngOdr != null">
                    <if test="!bgtMngOdr.equals('')">
                        AND A.BGT_MNG_ODR = #{bgtMngOdr}
                    </if>
                </if>
             ) T1
                 LEFT OUTER JOIN OUTORD_LBRCO_EXCN T2
                                 ON T1.PRJCT_ID = T2.PRJCT_ID
                                     AND T1.OUTORD_EMP_ID = T2.OUTORD_EMP_ID
        UNION ALL
        SELECT T1.*
             , IFNULL(T2.GIVE_CT, 0) AS  GIVE_CT
             , IFNULL(T2.MM, 0) AS MM
             , '사용' AS FLAG
        FROM (
                 SELECT A.PRJCT_ID
                      , A.OUTORD_EMP_ID
                      , (SELECT EMP_FLNM FROM EMP WHERE EMP_ID = A.OUTORD_EMP_ID) AS EMP_FLNM
                      , A.HNF_ROLE_CD
                      , (SELECT CD_NM FROM CD WHERE CD_VALUE = A.HNF_ROLE_CD) AS HNF_ROLE_NM
                      , A.HNF_GRAD_CD
                      , (SELECT CD_NM FROM CD WHERE CD_VALUE = A.HNF_GRAD_CD) AS HNF_GRAD_NM
                      , A.TKCG_JOB
                      , A.INPT_PRNMNT_YMD
                      , A.WITHDR_PRNMNT_YMD
                      , A.UNTPC
                      , B.INPT_YM
                      , EXPECT_MM
                 FROM OUTORD_LBRCO_PRMPC A
                    , OUTORD_LBRCO_PRMPC_DTL B
                 WHERE A.PRJCT_ID = B.PRJCT_ID
                   AND A.BGT_MNG_ODR = B.BGT_MNG_ODR
                   AND A.OUTORD_LBRCO_PRMPC_SN = B.OUTORD_LBRCO_PRMPC_SN
                <if test="prjctId != null">
                    <if test="!prjctId.equals('')">
                        AND A.PRJCT_ID = #{prjctId}
                    </if>
                </if>
                <if test="bgtMngOdr != null">
                    <if test="!bgtMngOdr.equals('')">
                        AND A.BGT_MNG_ODR = #{bgtMngOdr}
                    </if>
                </if>
             ) T1
                 LEFT OUTER JOIN OUTORD_LBRCO_EXCN T2
                                 ON T1.PRJCT_ID = T2.PRJCT_ID
                                     AND T1.OUTORD_EMP_ID = T2.OUTORD_EMP_ID
        UNION ALL
        SELECT T1.*
             , IFNULL(T2.GIVE_CT, 0) AS GIVE_CT
             , T1.EXPECT_MM - IFNULL(T2.MM, 0) AS mm
             , '사용가능' AS FLAG
        FROM (
                 SELECT A.PRJCT_ID
                      , A.OUTORD_EMP_ID
                      , (SELECT EMP_FLNM FROM EMP WHERE EMP_ID = A.OUTORD_EMP_ID) AS EMP_FLNM
                      , A.HNF_ROLE_CD
                      , (SELECT CD_NM FROM CD WHERE CD_VALUE = A.HNF_ROLE_CD) AS HNF_ROLE_NM
                      , A.HNF_GRAD_CD
                      , (SELECT CD_NM FROM CD WHERE CD_VALUE = A.HNF_GRAD_CD) AS HNF_GRAD_NM
                      , A.TKCG_JOB
                      , A.INPT_PRNMNT_YMD
                      , A.WITHDR_PRNMNT_YMD
                      , A.UNTPC
                      , B.INPT_YM
                      , EXPECT_MM
                 FROM OUTORD_LBRCO_PRMPC A
                    , OUTORD_LBRCO_PRMPC_DTL B
                 WHERE A.PRJCT_ID = B.PRJCT_ID
                   AND A.BGT_MNG_ODR = B.BGT_MNG_ODR
                   AND A.OUTORD_LBRCO_PRMPC_SN = B.OUTORD_LBRCO_PRMPC_SN
                <if test="prjctId != null">
                    <if test="!prjctId.equals('')">
                        AND A.PRJCT_ID = #{prjctId}
                    </if>
                </if>
                <if test="bgtMngOdr != null">
                    <if test="!bgtMngOdr.equals('')">
                        AND A.BGT_MNG_ODR = #{bgtMngOdr}
                    </if>
                </if>
             ) T1
                 LEFT OUTER JOIN OUTORD_LBRCO_EXCN T2
                                 ON T1.PRJCT_ID = T2.PRJCT_ID
                                     AND T1.OUTORD_EMP_ID = T2.OUTORD_EMP_ID
    </select>

    <select id="retrievePrjctMatrlCt" parameterType="map" resultType="com.trsystem.LowerHashMap">
    SELECT
          A.MATRL_CT_SN
        , A.MATRL_CT_IEM_CD
        , (SELECT CD_NM FROM CD WHERE CD_VALUE = A.MATRL_CT_IEM_CD) AS MATRL_CT_IEM_NM
        , A.PRDUCT_NM
        , A.QY
        , A.CNTRCTAMOUNT
        , B.QY  AS USE_AMT
        , (A.CNTRCTAMOUNT - B.QY) AS AVAIL
     FROM MATRL_CT_PRMPC A
     LEFT JOIN MATRL_CT_EXCN B ON A.PRJCT_ID = B.PRJCT_ID
    WHERE 1=1
    <if test="prjctId != null">
        <if test="!prjctId.equals('')">
            AND A.PRJCT_ID = #{prjctId}
        </if>
    </if>
    <if test="bgtMngOdr != null">
        <if test="!bgtMngOdr.equals('')">
            AND A.BGT_MNG_ODR = #{bgtMngOdr}
        </if>
    </if>
    UNION
    SELECT
          A.MATRL_CT_SN
        , A.MATRL_CT_IEM_CD
        , (SELECT CD_NM FROM CD WHERE CD_VALUE = A.MATRL_CT_IEM_CD) AS MATRL_CT_IEM_NM
        , A.PRDUCT_NM
        , A.QY
        , A.CNTRCTAMOUNT
        , B.QY  AS USE_AMT
        , (A.CNTRCTAMOUNT - B.QY) AS AVAIL
     FROM MATRL_CT_PRMPC A
     RIGHT JOIN MATRL_CT_EXCN B ON A.PRJCT_ID = B.PRJCT_ID
    WHERE 1=1
    <if test="prjctId != null">
        <if test="!prjctId.equals('')">
            AND A.PRJCT_ID = #{prjctId}
        </if>
    </if>
    <if test="bgtMngOdr != null">
        <if test="!bgtMngOdr.equals('')">
            AND A.BGT_MNG_ODR = #{bgtMngOdr}
        </if>
    </if>
    </select>

    <select id="retrieveProjectGeneralBudgetCostSearch" parameterType="map" resultType="com.trsystem.LowerHashMap">
    SELECT T1.*
             , T1.EXPECT_CT AS EXPENS_CT
             , '예산' FLAG
        FROM (
                 SELECT A.PRJCT_ID, A.DTL_DTLS, A.EXPENS_CD,
                        (SELECT CD_NM FROM CD WHERE CD_VALUE = A.EXPENS_CD) AS EXPENS_NM ,
                        B.USE_YM, B.EXPECT_CT
                 FROM EXPENS_PRMPC A , EXPENS_MNBY_PRMPC_DTLS B
                 WHERE A.PRJCT_ID = B.PRJCT_ID
                   AND A.BGT_MNG_ODR = B.BGT_MNG_ODR
                   AND A.EXPENS_CD = B.EXPENS_CD
                <if test="prjctId != null">
                    <if test="!prjctId.equals('')">
                        AND A.PRJCT_ID = #{prjctId}
                    </if>
                </if>
                <if test="bgtMngOdr != null">
                    <if test="!bgtMngOdr.equals('')">
                        AND A.BGT_MNG_ODR = #{bgtMngOdr}
                    </if>
                </if>
                <if test="costFlag.equals('general')">
                    AND A.EXPENS_CD BETWEEN 'VTW04501' AND 'VTW04528'
                </if>
                <if test="costFlag.equals('control')">
                    AND A.EXPENS_CD BETWEEN 'VTW04529' AND 'VTW04535'
                </if>
             ) T1
                 LEFT OUTER JOIN EXPENS_EXCN T2
                                 ON T1.PRJCT_ID = T2.PRJCT_ID
                                     AND T1.EXPENS_CD = T2.EXPENS_CD
        UNION ALL
        SELECT T1.*
             , IFNULL(T2.EXPENS_CT,0) AS EXPENS_CT
             , '사용' FLAG
        FROM (
                 SELECT A.PRJCT_ID, A.DTL_DTLS, A.EXPENS_CD,
                        (SELECT CD_NM FROM CD WHERE CD_VALUE = A.EXPENS_CD) AS EXPENS_NM ,
                        B.USE_YM, B.EXPECT_CT
                 FROM EXPENS_PRMPC A , EXPENS_MNBY_PRMPC_DTLS B
                 WHERE A.PRJCT_ID = B.PRJCT_ID
                   AND A.BGT_MNG_ODR = B.BGT_MNG_ODR
                   AND A.EXPENS_CD = B.EXPENS_CD
                <if test="prjctId != null">
                    <if test="!prjctId.equals('')">
                        AND A.PRJCT_ID = #{prjctId}
                    </if>
                </if>
                <if test="bgtMngOdr != null">
                    <if test="!bgtMngOdr.equals('')">
                        AND A.BGT_MNG_ODR = #{bgtMngOdr}
                    </if>
                </if>
                <if test="costFlag.equals('general')">
                    AND A.EXPENS_CD BETWEEN 'VTW04501' AND 'VTW04528'
                </if>
                <if test="costFlag.equals('control')">
                    AND A.EXPENS_CD BETWEEN 'VTW04529' AND 'VTW04535'
                </if>
             ) T1
                 LEFT OUTER JOIN EXPENS_EXCN T2
                                 ON T1.PRJCT_ID = T2.PRJCT_ID
                                     AND T1.EXPENS_CD = T2.EXPENS_CD
        UNION ALL
        SELECT T1.*
             , T1.EXPECT_CT - IFNULL(T2.EXPENS_CT,0) AS EXPENS_CT
             , '가용' FLAG
        FROM (
                 SELECT A.PRJCT_ID, A.DTL_DTLS, A.EXPENS_CD,
                        (SELECT CD_NM FROM CD WHERE CD_VALUE = A.EXPENS_CD) AS EXPENS_NM ,
                        B.USE_YM, B.EXPECT_CT
                 FROM EXPENS_PRMPC A , EXPENS_MNBY_PRMPC_DTLS B
                 WHERE A.PRJCT_ID = B.PRJCT_ID
                   AND A.BGT_MNG_ODR = B.BGT_MNG_ODR
                   AND A.EXPENS_CD = B.EXPENS_CD
                <if test="prjctId != null">
                    <if test="!prjctId.equals('')">
                        AND A.PRJCT_ID = #{prjctId}
                    </if>
                </if>
                <if test="bgtMngOdr != null">
                    <if test="!bgtMngOdr.equals('')">
                        AND A.BGT_MNG_ODR = #{bgtMngOdr}
                    </if>
                </if>
                <if test="costFlag.equals('general')">
                    AND A.EXPENS_CD BETWEEN 'VTW04501' AND 'VTW04528'
                </if>
                <if test="costFlag.equals('control')">
                    AND A.EXPENS_CD BETWEEN 'VTW04529' AND 'VTW04535'
                </if>
             ) T1
                 LEFT OUTER JOIN EXPENS_EXCN T2
                                 ON T1.PRJCT_ID = T2.PRJCT_ID
                                     AND T1.EXPENS_CD = T2.EXPENS_CD
      </select>
      
	<select id="retrieveBgtMngOdr" parameterType="map" resultType="com.trsystem.LowerHashMap">
        SELECT IFNULL(MAX(BGT_MNG_ODR), 0) AS BGT_MNG_ODR
        FROM PRJCT_BGT_PRMPC
       WHERE 1=1
        <if test="prjctId != null">
            <if test="!prjctId.equals('')">
                AND PRJCT_ID = #{prjctId}
            </if>
        </if>
    </select>
    
	<select id="retrievePrjctAprvDtl" parameterType="map" resultType="com.trsystem.LowerHashMap">
	SELECT 
		   (SELECT CD_NM FROM CD WHERE CD_VALUE = pal.PRMPC_INPT_SE_CD) AS PRMPC_INPT_SE_CD
		 , e2.EMP_FLNM AS REG_EMP_FLNM
	 	 , (SELECT APRV_YMD 
	 	 	  FROM PRJCT_ATRZ_LN_DTL 
	 	 	 WHERE ATRZ_STEP_CD = 'VTW00705'
 	           <if test="atrzLnSn != null">
		            <if test="!atrzLnSn.equals('')">
		                AND ATRZ_LN_SN = #{atrzLnSn}
		            </if>
		        </if>
                <if test="prjctId != null">
            		<if test="!prjctId.equals('')">
		                AND PRJCT_ID = #{prjctId}
		            </if>
		        </if>
	 	 	) AS APRV_YMD
	 	 , (SELECT RJCT_YMD 
	 	 	  FROM PRJCT_ATRZ_LN_DTL
	 	 	 WHERE RJCT_YMD IS NOT NULL
	           <if test="atrzLnSn != null">
		            <if test="!atrzLnSn.equals('')">
		                AND ATRZ_LN_SN = #{atrzLnSn}
		            </if>
		        </if>
                <if test="prjctId != null">
            		<if test="!prjctId.equals('')">
		                AND PRJCT_ID = #{prjctId}
		            </if>
		        </if>
	 	 	 ) AS RJCT_YMD
	 	 , pal.ATRZ_APLY_PRVONSH_CN
	 	 , concat(c1.CD_NM, ' (', c2.CD_NM, ')') AS ATRZ_STEP_STTS
	 	 , c1.CD_NM AS ATRZ_STEP_NM
	 	 , c2.CD_NM AS ATRZ_STTS_NM
		 , e1.EMP_FLNM AS APRVR_EMP_FLNM
		 , pald.ATRZ_OPNN_CN
	 	 , pald.RJCT_PRVONSH
 	 	 , pald.APRV_YMD AS STEP_APRV_YMD
 	 	 , pald.RJCT_YMD AS STEP_RJCT_YMD
 	 	 , DATE_FORMAT(pald.MDFCN_DT, '%Y.%m.%d %H:%i:%s') AS MDFCN_DT
	  FROM PRJCT_ATRZ_LN_DTL pald 
	  JOIN CD c1 ON (c1.CD_VALUE = pald.ATRZ_STEP_CD)
	  JOIN CD c2 ON (c2.CD_VALUE = pald.ATRZ_STTS_CD)
	  JOIN EMP e1 ON (pald.APRVR_EMP_ID = e1.EMP_ID)
	  JOIN PRJCT_ATRZ_LN pal ON (pal.PRJCT_ID = pald.PRJCT_ID AND pal.ATRZ_LN_SN = pald.ATRZ_LN_SN)
	  JOIN EMP e2 ON (pal.REG_EMP_ID = e2.EMP_ID)
	 WHERE 1=1
        <if test="prjctId != null">
            <if test="!prjctId.equals('')">
                AND pald.PRJCT_ID = #{prjctId}
            </if>
        </if>
        <if test="atrzLnSn != null">
            <if test="!atrzLnSn.equals('')">
                AND pald.ATRZ_LN_SN = #{atrzLnSn}
            </if>
        </if>
    </select>
    
	<select id="retrieveAprvrEmpId" parameterType="map" resultType="com.trsystem.LowerHashMap">
		<![CDATA[
	    WITH RECURSIVE CTE(DEPT_ID, DEPT_NM, UP_DEPT_ID, EMP_ID, DEPTH) AS (
	        SELECT d1.DEPT_ID, DEPT_NM, UP_DEPT_ID, dh1.EMP_ID, 1
	        FROM DEPT d1
	        JOIN DEPT_HNF dh1 ON (d1.DEPT_ID = dh1.DEPT_ID)
	        WHERE UP_DEPT_ID IS NULL
	        UNION ALL
	        SELECT cd.DEPT_ID, cd.DEPT_NM, cd.UP_DEPT_ID, dh2.EMP_ID, DEPTH + 1
	        FROM DEPT cd
	        JOIN DEPT_HNF dh2 ON (cd.DEPT_ID = dh2.DEPT_ID)
	        INNER JOIN CTE B ON (B.DEPT_ID = cd.UP_DEPT_ID)
	    )
	    SELECT @r AS DEPT_ID
	         , (SELECT @r := UP_DEPT_ID FROM CTE WHERE DEPT_ID = @r LIMIT 1) AS UP_DEPT_ID
	         , dh.EMP_ID
	         , cte.DEPTH
	    FROM (SELECT @r := #{deptId}) AS vars, (SELECT * FROM CTE WHERE DEPT_ID != #{deptId}) AS h
	    JOIN DEPT_HNF dh ON (dh.DEPT_ID = @r)
	    JOIN CTE cte ON (cte.DEPT_ID = @r)
	    WHERE @r <> '-'
	    AND dh.JBTTL_CD = 'VTW01001'
	    ORDER BY cte.DEPTH ASC
		]]>
    </select>
    
	<select id="retrievePrjctAtrzLnSn" parameterType="map" resultType="com.trsystem.LowerHashMap">
		SELECT MAX(ATRZ_LN_SN) AS ATRZ_LN_SN
		  FROM PRJCT_ATRZ_LN
		 WHERE PRJCT_ID = #{prjctId};
	</select>
	
	<select id="retrieveChgPrmpcOdr" parameterType="map" resultType="com.trsystem.LowerHashMap">
		<if test="cnsrtmSn != null">
			SELECT COALESCE(MAX(CNSRTM_SN),0) AS CNSRTM_SN
			  FROM PRJCT_CNSRTM
			 WHERE PRJCT_ID = #{prjctId}
		</if>
		<if test="matrlCtSn != null">
			SELECT COALESCE(MAX(MATRL_CT_SN),0) AS MATRL_CT_SN
			  FROM MATRL_CT_PRMPC
			 WHERE PRJCT_ID = #{prjctId}
			 AND BGT_MNG_ODR = #{bgtMngOdr}
		</if>
		<if test="expensPrmpcSn != null">
			SELECT COALESCE(MAX(EXPENS_PRMPC_SN),0) AS EXPENS_PRMPC_SN
			  FROM EXPENS_PRMPC
			 WHERE PRJCT_ID = #{prjctId}
			 AND BGT_MNG_ODR = #{bgtMngOdr}
		</if>		
		<if test="outordLbrcoPrmpcSn != null">
			SELECT COALESCE(MAX(OUTORD_LBRCO_PRMPC_SN),0) AS OUTORD_LBRCO_PRMPC_SN
			  FROM OUTORD_LBRCO_PRMPC
			 WHERE PRJCT_ID = #{prjctId}
			 AND BGT_MNG_ODR = #{bgtMngOdr}
		</if>		 
		<if test="mmnyLbrcoPrmpcSn != null">
			SELECT COALESCE(MAX(MMNY_LBRCO_PRMPC_SN),0) AS MMNY_LBRCO_PRMPC_SN
			  FROM MMNY_INPT_MM
			 WHERE PRJCT_ID = #{prjctId}
			 AND BGT_MNG_ODR = #{bgtMngOdr}
		</if>
		<if test="outordEntrpsCtPrmpcSn != null">
			SELECT COALESCE(MAX(OUTORD_ENTRPS_CT_PRMPC_SN),0) AS OUTORD_ENTRPS_CT_PRMPC_SN
			  FROM OUTORD_ENTRPS_CT_PRMPC
			 WHERE PRJCT_ID = #{prjctId}
			 AND BGT_MNG_ODR = #{bgtMngOdr}
		</if>      
		
	</select>
	
	<select id="updateChgPrmpcMdfcn" parameterType="map" resultType="com.trsystem.LowerHashMap">
		<if test="expensPrmpcSn != null">
			INSERT INTO EXPENS_MNBY_PRMPC_DTLS (PRJCT_ID, BGT_MNG_ODR,EXPENS_PRMPC_SN,USE_YM,EXPENS_CD,EXPECT_CT) 
			VALUES(	#{prjctId}, #{bgtMngOdr}, #{expensPrmpcSn},#{useYm},#{expensCd},#{expectCt})
				ON DUPLICATE KEY UPDATE 
				EXPECT_CT = #{expectCt}
		</if>
		<if test="outordLbrcoPrmpcSn != null">
			INSERT INTO OUTORD_LBRCO_PRMPC_DTL (PRJCT_ID, BGT_MNG_ODR, OUTORD_LBRCO_PRMPC_SN, INPT_YM, EXPECT_MM)
			VALUES(	#{prjctId}, #{bgtMngOdr}, #{outordLbrcoPrmpcSn}, #{inptYm}, #{expectMm})
			   ON DUPLICATE KEY UPDATE 
			   EXPECT_MM = #{expectMm}
		</if>
		<if test="mmnyLbrcoPrmpcSn != null">
			INSERT INTO MMNY_INPT_MM (PRJCT_ID, BGT_MNG_ODR, MMNY_LBRCO_PRMPC_SN, INPT_YM, EXPECT_MM, UNTPC)
			VALUES(	#{prjctId}, #{bgtMngOdr}, #{mmnyLbrcoPrmpcSn}, #{inptYm}, #{expectMm}, #{untpc})
			   ON DUPLICATE KEY UPDATE 
			   EXPECT_MM = #{expectMm},
			   UNTPC = #{untpc}
		</if>
	</select>
	
	<select id="retrieveOutordEntrpsPrmpc" parameterType="map" resultType="com.trsystem.LowerHashMap">
		SELECT
		  M.*, N.OUTORD_ENTRPS_NM
		FROM OUTORD_ENTRPS_CT_PRMPC M
		JOIN  OUTORD_ENTRPS N 
			ON M.OUTORD_ENTRPS_ID = N.OUTORD_ENTRPS_ID
		WHERE 1=1
		 AND  M.PRJCT_ID =#{prjctId}
		 AND M.BGT_MNG_ODR = #{bgtMngOdr}
	</select>
	

	<select id="retrieveTmprRjctBgtOdr" parameterType="map" resultType="com.trsystem.LowerHashMap">
	<!-- 
	  SELECT pal.PRJCT_ID
	    FROM PRJCT_ATRZ_LN_DTL pald
	    JOIN PRJCT_ATRZ_LN pal ON (pal.PRJCT_ID = pald.PRJCT_ID AND pal.ATRZ_LN_SN = pald.ATRZ_LN_SN)
	   WHERE 1=1
	     AND pal.PRJCT_ID = #{prjctId}
	     AND pal.ATRZ_LN_SN = #{atrzLnSn}
	     AND pald.ATRZ_STTS_CD = 'VTW00803'
	-->
		SELECT ATRZ_DMND_STTS_CD 
		  FROM PRJCT_BGT_PRMPC pbp 
		 WHERE 1=1
		   AND PRJCT_ID = #{prjctId}
		   AND BGT_MNG_ODR = #{bgtMngOdr}
	</select>
	
	<select id="retrieveMmnyHnf" parameterType="map" resultType="com.trsystem.LowerHashMap">
	  SELECT e.EMP_ID, 
	  		 e.EMP_FLNM, 
	  		 e.JBPS_CD,
	  		 c.CD_NM,
	  		 c.USER_DFN_VALUE, 
			 CONCAT(e.EMP_FLNM, ' - ' , c.CD_NM) as EMP_NAME_JBPS
		FROM EMP e
		JOIN CD c 
		ON e.JBPS_CD = c.CD_VALUE 
		WHERE 1=1
		AND e.HDOF_STTS_CD = 'VTW00301' /*재직*/	
		AND e.EMP_TY_CD !='VTW00203'
		AND c.USE_YN = 'Y'
	</select>

	<select id="retrievePrjctCdIdntfr" parameterType="map" resultType="com.trsystem.LowerHashMap">
		SELECT IFNULL(LPAD(MAX(SUBSTR(PRJCT_CD_IDNTFR, 5))+1, '4', '0'), '0001') PRJCT_CD_SN
		  FROM PRJCT
		 WHERE PRJCT_CD_IDNTFR LIKE CONCAT(#{ctmmnyId},'%')
	</select>
	
	<select id="retrieveMmAply" parameterType="map" resultType="com.trsystem.LowerHashMap">
		SELECT d.DEPT_NM
			 , e.EMP_FLNM
			 , CONCAT(pma.APLY_YM, '-', pma.APLY_ODR) APLY_SN
			 , mmp.EXPECT_MM
			 , SUM(pma.MD) AS TOT_MD
			 , pma.EMP_ID
			 , pma.APLY_YM
			 , pma.APLY_ODR
		  FROM PRJCT_MM_APLY pma
	      JOIN (SELECT mlp.PRJCT_ID, mlp.EMP_ID, mlp.MMNY_LBRCO_PRMPC_SN, mim.EXPECT_MM
			      FROM MMNY_LBRCO_PRMPC mlp
			  	  JOIN MMNY_INPT_MM mim ON (mim.PRJCT_ID = mlp.PRJCT_ID AND mim.MMNY_LBRCO_PRMPC_SN = mlp.MMNY_LBRCO_PRMPC_SN)
		     	 WHERE 1=1
		       	   AND mim.INPT_YM = #{aplyYm}
		       	   AND mim.PRJCT_ID = #{prjctId}) mmp ON (mmp.EMP_ID = pma.EMP_ID)
	   <!--    JOIN MMNY_LBRCO_EXCN mle ON (pma.PRJCT_ID = mim.PRJCT_ID AND pma.APLY_YM = mle.INPT_YM) -->
		  JOIN EMP e ON (e.EMP_ID = pma.EMP_ID)
		  JOIN DEPT_HNF dh ON (e.EMP_ID = dh.EMP_ID)
		  JOIN DEPT d ON (d.DEPT_ID = dh.DEPT_ID)
		 WHERE 1=1
		   AND pma.PRJCT_ID = #{prjctId}
		   AND pma.APLY_YM = #{aplyYm}
		   AND pma.APLY_ODR = #{aplyOdr}
       <if test="empId != null">
            <if test="!empId.equals('')">
                AND pma.EMP_ID = #{empId}
            </if>
        </if>
         GROUP BY pma.EMP_ID, d.DEPT_NM, mmp.EXPECT_MM, pma.EMP_ID
	</select>
		
	<select id="retrieveOutordHnfPrmpc" parameterType="map" resultType="com.trsystem.LowerHashMap">
		SELECT 
		   O.*,
		   E.OUTORD_EMP_NM, 
		   C.CD_NM AS HNF_ROLE_CD_NM, 
		   D.CD_NM AS HNF_GRAD_CD_NM
		FROM OUTORD_LBRCO_PRMPC O
		LEFT JOIN OUTORD_EMP E ON E.OUTORD_EMP_ID = O.OUTORD_EMP_ID 
		JOIN CD C ON O.HNF_ROLE_CD = C.CD_VALUE
		JOIN CD D ON O.HNF_GRAD_CD = D.CD_VALUE
		WHERE 1=1
		AND PRJCT_ID = #{prjctId}
		AND BGT_MNG_ODR = #{bgtMngOdr}	
	</select>

	<select id="retrieveMmnyHnfPrmpc" parameterType="map" resultType="com.trsystem.LowerHashMap">
		SELECT 
			M.*,
		    E.EMP_FLNM, 
		    C.CD_NM AS HNF_ROLE_CD_NM
		FROM MMNY_LBRCO_PRMPC M
		LEFT JOIN EMP E ON M.EMP_ID = E.EMP_ID 
		JOIN CD C ON M.HNF_ROLE_CD = C.CD_VALUE
		WHERE 1=1
		AND PRJCT_ID = #{prjctId}
		AND BGT_MNG_ODR = #{bgtMngOdr}	
	</select>
	
	<select id="retrievePrjctCnsrtmCd" parameterType="map" resultType="com.trsystem.LowerHashMap">
		SELECT CD_VALUE AS BIZ_FLFMT_TY_CD, CD_NM AS BIZ_FLFMT_TY_CD_NM FROM CD 
		where 1=1
		and UP_CD_VALUE = #{upCdValue}
		and USE_YN = #{useYn}
	</select>
	
	<select id="retrievePrjctMatrlCtCd" parameterType="map" resultType="com.trsystem.LowerHashMap">
		SELECT CD_VALUE AS MATRL_CT_IEM_CD, CD_NM AS MATRL_CT_IEM_CD_NM FROM CD 
		where 1=1
		and UP_CD_VALUE = #{upCdValue}
		and USE_YN = #{useYn}
	</select>

	<select id="retrievePrjctOutordEntrps" parameterType="map" resultType="com.trsystem.LowerHashMap">
		
	</select>

	
	<select id="retrieveCtAply" parameterType="map" resultType="com.trsystem.LowerHashMap">
		SELECT d.DEPT_NM
			 , e.EMP_FlNM
			 , CONCAT(pca.APLY_YM, '-', pca.APLY_ODR) AS APLY_SN
			 , SUM(UTZTN_AMT) AS TOT_APLY_AMT
			 , e.EMP_ID
			 , pca.APLY_YM
			 , pca.APLY_ODR
		  FROM PRJCT_CT_APLY pca
		  JOIN EMP e ON (e.EMP_ID = pca.EMP_ID)
	      JOIN DEPT_HNF dh ON (e.EMP_ID = dh.EMP_ID)
  		  JOIN DEPT d ON (d.DEPT_ID = dh.DEPT_ID)
		 WHERE 1=1
		   AND pca.PRJCT_ID = #{prjctId}
		   AND pca.APLY_YM = #{aplyYm}
		   AND pca.APLY_ODR = #{aplyOdr}
       <if test="empId != null">
            <if test="!empId.equals('')">
                AND pca.EMP_ID = #{empId}
            </if>
        </if>
		 GROUP BY d.DEPT_NM, e.EMP_ID
	</select>
	
	<select id="retrieveProjectCtAplyDetail" parameterType="map" resultType="com.trsystem.LowerHashMap">
		SELECT CONCAT(CT_PRPOS, ' (' ,UTZTN_AMT, '원)') AS TEXT
		     , DATE_FORMAT(UTZTN_DT, '%Y-%m-%d %H:%i:%s') AS START_DATE
		     , DATE_FORMAT(UTZTN_DT, '%Y-%m-%d %H:%i:%s') AS END_DATE
		     , CONCAT(pca.APLY_YM, '-', pca.APLY_ODR) AS APLY_SN
		     , e.EMP_FLNM
		     , pca.UTZTN_AMT
	         , pca.USE_OFFIC
     		 , pca.ATDRN
     		 , pca.CT_PRPOS
		  FROM PRJCT_CT_APLY pca
		  JOIN EMP e ON (e.EMP_ID = pca.EMP_ID)
		 WHERE 1=1
   		   AND pca.PRJCT_ID = #{prjctId}
		   AND pca.APLY_YM = #{aplyYm}
		   AND pca.APLY_ODR = #{aplyOdr}
		   AND pca.EMP_ID = #{empId}
	</select>
	
	<select id="retrieveProjectMmAplyDetail" parameterType="map" resultType="com.trsystem.LowerHashMap">
		SELECT 1 AS ID
		  	 , pma.MD
			 , CONCAT(pma.MD, ' hrs | ', e1.EMP_FLNM, ' (요청)') AS TEXT
			 , pah.ATRZ_DMND_STTS_CD
			 , DATE_FORMAT(pma.APLY_YMD, '%Y-%m-%d') AS START_DATE
			 , DATE_FORMAT(pma.APLY_YMD, '%Y-%m-%d') AS END_DATE
			 , pah.APRV_YMD
 		  	 , e2.EMP_FLNM AS APRVR_EMP_FLNM
 		  	 , d.DEPT_NM
 		  	 , cd.CD_NM AS ATRZ_DMND_STTS_NM
		FROM PRJCT_MM_APLY pma
		JOIN PRJCT_ATRZ_HIST pah ON (pma.PRJCT_ID = pah.PRJCT_ID 
								 	AND pma.EMP_ID = pah.EMP_ID 
								 	AND pma.APLY_YM = pah.APLY_YM 
								 	AND pma.APLY_ODR = pah.APLY_ODR)
		JOIN EMP e1 ON (pah.EMP_ID = e1.EMP_ID)						 	
		JOIN EMP e2 ON (pah.APRVR_EMP_ID = e2.EMP_ID)
		JOIN CD cd ON (pah.ATRZ_DMND_STTS_CD = cd.CD_VALUE)
		JOIN DEPT_HNF dh ON (dh.EMP_ID = e2.EMP_ID)
		JOIN DEPT d ON (d.DEPT_ID = dh.DEPT_ID)
	   WHERE 1=1 
	     AND pma.PRJCT_ID = #{prjctId}
	     AND pma.EMP_ID = #{empId}
	     AND pma.APLY_YM = #{aplyYm}
	     AND pma.APLY_ODR = #{aplyOdr}
         AND pah.ATRZ_DMND_STTS_CD = 'VTW03702'
		UNION ALL
		SELECT 2 AS ID
			 , pma.MD
			 , CONCAT(pma.MD, ' hrs | ', e2.EMP_FLNM, ' (', cd.CD_NM, ')') AS TEXT
			 , pah.ATRZ_DMND_STTS_CD
			 , DATE_FORMAT(pma.APLY_YMD, '%Y-%m-%d') AS START_DATE
			 , DATE_FORMAT(pma.APLY_YMD, '%Y-%m-%d') AS END_DATE
			 , pah.APRV_YMD
		  	 , e2.EMP_FLNM AS APRVR_EMP_FLNM
		  	 , d.DEPT_NM
		  	 , cd.CD_NM AS ATRZ_DMND_STTS_NM
		FROM PRJCT_MM_APLY pma
		JOIN PRJCT_ATRZ_HIST pah ON (pma.PRJCT_ID = pah.PRJCT_ID 
								 	AND pma.EMP_ID = pah.EMP_ID 
								 	AND pma.APLY_YM = pah.APLY_YM 
								 	AND pma.APLY_ODR = pah.APLY_ODR)
		JOIN EMP e1 ON (pah.EMP_ID = e1.EMP_ID)						 	
		JOIN EMP e2 ON (pah.APRVR_EMP_ID = e2.EMP_ID)
		JOIN CD cd ON (pah.ATRZ_DMND_STTS_CD = cd.CD_VALUE)
		JOIN DEPT_HNF dh ON (dh.EMP_ID = e2.EMP_ID)
		JOIN DEPT d ON (d.DEPT_ID = dh.DEPT_ID)
		WHERE 1=1 
		  AND pma.PRJCT_ID = #{prjctId}
		  AND pma.EMP_ID = #{empId}
		  AND pma.APLY_YM = #{aplyYm}
		  AND pma.APLY_ODR = #{aplyOdr}
		  AND pah.ATRZ_DMND_STTS_CD = 'VTW03703'
	</select>
	
	
	
	<select id="retrieveExcnPrmpcBill" parameterType="map" resultType="com.trsystem.LowerHashMap">
        SELECT 
			#{id} AS ID, 
			<choose>
				<when test="costKind != null and costKind != ''">
					#{costKind} AS COST_KIND, 
				</when>
				<otherwise>
					A.CNSRTM_CO_NM AS COST_KIND,
				</otherwise>
			</choose>
			A.CN AS COST_AMT,
		    ROUND(A.CN / B.TOTAL * 100, 2) AS RATE, 
			#{group} AS BIND
		FROM 
			<if test="tbCostNm == 'PRJCT'">
			    (SELECT 
			        TOT_BGT AS CN
			     FROM 
			        PRJCT M
			     WHERE 
			        M.PRJCT_ID = #{prjctId}
			    ) A,

            </if>
            <if test="tbCostNm == 'PRJCT_CNSRTM'">
			    (SELECT 
			        CNSRTM_CO_NM, CMMN_EXPENS_AMT AS CN
			     FROM 
			        PRJCT_CNSRTM M
			     WHERE 1=1
			        AND M.PRJCT_ID = #{prjctId}
			        AND M.SLS_AM_RFLT_YN = 'Y'	 
			    ) A,
            </if>
            <if test="tbCostNm == 'MMNY_LBRCO_PRMPC'">
			    (SELECT SUM(T.TOTAL) AS CN
					FROM (
					SELECT (S.UNTPC * S.EXPECT_MM)AS TOTAL  FROM MMNY_LBRCO_PRMPC M
					JOIN MMNY_INPT_MM S
					ON M.PRJCT_ID = S.PRJCT_ID AND M.BGT_MNG_ODR = S.BGT_MNG_ODR AND M.MMNY_LBRCO_PRMPC_SN = S.MMNY_LBRCO_PRMPC_SN 
					WHERE 1=1
					AND M.PRJCT_ID = #{prjctId}
					AND M.BGT_MNG_ODR = #{bgtMngOdr}
					)T
				  ) A ,
            </if>
            <if test="tbCostNm == 'OUTORD_LBRCO_PRMPC'">
			    ( SELECT SUM(T.TOTAL) AS CN
					FROM (
					SELECT (M.UNTPC * S.EXPECT_MM)AS TOTAL  FROM OUTORD_LBRCO_PRMPC M
					JOIN OUTORD_LBRCO_PRMPC_DTL S
					ON M.PRJCT_ID = S.PRJCT_ID AND M.BGT_MNG_ODR = S.BGT_MNG_ODR AND M.OUTORD_LBRCO_PRMPC_SN = S.OUTORD_LBRCO_PRMPC_SN 
					WHERE 1=1
					AND M.PRJCT_ID = #{prjctId}
					AND M.BGT_MNG_ODR = #{bgtMngOdr}
					)T
				  ) A ,
            </if>
            <if test="tbCostNm == 'OUTORD_ENTRPS_CT_PRMPC'">
			    ( SELECT SUM(T.TOTAL) AS CN
					FROM (
					SELECT EXPECT_CT AS TOTAL  FROM OUTORD_ENTRPS_CT_PRMPC M
					WHERE 1=1
					AND M.PRJCT_ID = #{prjctId}
					AND M.BGT_MNG_ODR = #{bgtMngOdr}
					)T
				  ) A ,
            </if>
            <if test="tbCostNm == 'MATRL_CT_PRMPC'">
			    ( SELECT SUM(T.TOTAL) AS CN
					FROM (
					SELECT CNTRCTAMOUNT AS TOTAL  FROM MATRL_CT_PRMPC M
					WHERE 1=1
					AND M.PRJCT_ID = #{prjctId}
					AND M.BGT_MNG_ODR = #{bgtMngOdr}
					)T
				  ) A ,
            </if>
            <if test="tbCostNm == 'EXPENS_PRMPC'">
			    ( SELECT SUM(T.TOTAL) AS CN
					FROM (
					SELECT EXPECT_CT AS TOTAL  FROM EXPENS_PRMPC M
					JOIN EXPENS_MNBY_PRMPC_DTLS S
					ON M.PRJCT_ID = S.PRJCT_ID AND M.BGT_MNG_ODR = S.BGT_MNG_ODR AND M.EXPENS_PRMPC_SN = S.EXPENS_PRMPC_SN 
					WHERE 1=1
					<if test="control != null and control != ''">
						AND M.EXPENS_CD BETWEEN 'VTW04528' AND 'VTW04535'
					</if>
					<if test="general != null and general != ''">
						AND M.EXPENS_CD BETWEEN 'VTW04501' AND 'VTW04527'
					</if>
					AND M.PRJCT_ID =  #{prjctId}
					AND M.BGT_MNG_ODR = #{bgtMngOdr}
					)T
				  ) A ,
            </if> 
		    (
			  SELECT (T.TOT_BGT + SUM(T.CMMN_EXPENS_AMT))AS TOTAL
				FROM
				(SELECT M.TOT_BGT, M.PRJCT_ID,S.CNSRTM_CO_NM,S.CMMN_EXPENS_AMT FROM PRJCT M
				JOIN PRJCT_CNSRTM S
				ON M.PRJCT_ID = S.PRJCT_ID 
				WHERE 1=1
				AND M.PRJCT_ID = #{prjctId}
				AND S.SLS_AM_RFLT_YN  = 'Y') T
			 )B
    </select>
    
	

</mapper>