<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.trsystem.mybatis.mapper.sysMngMapper">

    <select id="TrsCodeList" parameterType="map" resultType="com.trsystem.LowerHashMap">
        SELECT
            CD_VALUE,
            CD_NM,
            USE_YN,
            COUNT(*) OVER () AS TOTAL_ITEMS
        FROM CD
        WHERE 1=1
            AND UP_CD_VALUE IS NULL
        <if test="upCdValue != null and upCdValue !=''">
            AND UP_CD_VALUE = #{upCdValue}
        </if>
        <if test="cdValue != null and cdValue !=''">
            AND CD_VALUE LIKE CONCAT('%', #{cdValue}, '%')
        </if>
        <if test="cdNm != null and cdNm !=''">
            AND CD_NM LIKE CONCAT('%', #{cdNm}, '%')
        </if>
    </select>

    <select id="authCdList" parameterType="map" resultType="com.trsystem.LowerHashMap">
        SELECT
            ag.AUTHRT_GROUP_ID,
            ag.AUTHRT_GROUP_NM,
            ag.AUTHRT_GROUP_CN,
            GROUP_CONCAT(am.AUTHRT_CD) AS AUTHRT_CDs,
            GROUP_CONCAT(cd.CD_NM) AS AUTHRT_CD_NMs
        FROM AUTHRT_GROUP ag
                 JOIN AUTHRT_MAPNG am ON ag.AUTHRT_GROUP_ID = am.AUTHRT_GROUP_ID
                 JOIN CD cd ON am.AUTHRT_CD = cd.CD_VALUE
        GROUP BY ag.AUTHRT_GROUP_ID, ag.AUTHRT_GROUP_NM, ag.AUTHRT_GROUP_CN;
    </select>

    <select id="customersList" parameterType="map" resultType="com.trsystem.LowerHashMap">
        select
            COUNT(*) OVER () AS TOTAL_ITEMS,
            CTMMNY_ID,
            CTMMNY_NM ,
            CTMMNY_ENG_NM,
            INDUST_CD,
            USE_YN
        FROM nwTr.CTMMNY_INFO
        WHERE 1=1
            <if test="ctmmnyNm != null and !ctmmnyNm.equals('')">
                AND CTMMNY_NM LIKE CONCAT('%', #{ctmmnyNm}, '%')
            </if>
            <if test="industCd != null and !industCd.equals('')">
                AND INDUST_CD = #{industCd}
            </if>
        ORDER BY REG_DT DESC
    </select>

    <select id="userInfo" parameterType="String" resultType="com.trsystem.LowerHashMap">
    SELECT LU.EMP_ID,
           LU.EMPNO,
           (SELECT E.EMP_FLNM FROM EMP E WHERE LU.EMP_ID =  E.EMP_ID) EMP_NM,
           PSWD
    FROM LGN_USER LU
    WHERE EMPNO = #{empno}
    </select>

    <select id="userAuth" parameterType="String" resultType="com.trsystem.LowerHashMap">
    SELECT ag.AUTHRT_GROUP_ID , am.AUTHRT_CD
    FROM AUTHRT_GROUP ag
             JOIN AUTHRT_MAPNG am
             JOIN LGN_USER_AUTHRT lua
                  ON ag.AUTHRT_GROUP_ID = am.AUTHRT_GROUP_ID
                      AND lua.AUTHRT_GROUP_ID = ag.AUTHRT_GROUP_ID
    WHERE lua.EMP_ID = #{empId}
    </select>

    <select id="userDept" parameterType="String" resultType="com.trsystem.LowerHashMap">
      SELECT A.DEPT_ID
           , A.DEPT_NM
        FROM DEPT A
        JOIN DEPT_HNF B
          ON A.DEPT_ID = B.DEPT_ID
        WHERE B.EMP_ID = #{empId}
    </select>
</mapper>
